Repository Azure/communication-ui-library, pull requests merged in 2021-11, with the labels that each got.

#1007 Fix blank messages being shown in the MessageThread
  change/@internal-chat-component-bindings-057f4619-a6e4-4fc9-bf2a-ff1600cfd841.json
  change/@internal-react-composites-8c2b2e56-060d-4e0f-9765-d9de5f2fc459.json
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1011 Fix avatar initials not showing beside chat messages
  change/@internal-react-components-78daeab3-51f0-429f-b6b9-9e7827091eea.json
  change/@internal-react-composites-e931a6df-6d45-43c3-9f86-4e06f604d414.json
  packages/react-components/src/components/MessageThread.tsx
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#987 Add a notification for when a user is speaking while muted
  change/@internal-react-composites-5f9016d8-3a4d-42ec-ab77-9d4f48679291.json
  change/@internal-storybook-ec78becb-05fe-4d16-af54-30f7f29379ed.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/CallComposite/components/MutedNotification.tsx
  packages/react-composites/src/composites/CallComposite/pages/CallPage.tsx
  packages/react-composites/src/composites/CallComposite/selectors/mutedNotificationSelector.ts
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/app/index.tsx
Labels: breaking-change, ui change

#998 Resolve all comments in azure review
  change/@internal-calling-component-bindings-2d6fa32c-8bcc-4f5f-bc3b-cf99f61fd2f7.json
  change/@internal-calling-stateful-client-46b853bf-8444-4209-a24b-a3d093f0f372.json
  change/@internal-chat-component-bindings-de669021-913e-493b-a21f-f5b50735af32.json
  change/@internal-react-components-e0f7c92a-b9ea-4bce-9538-c33cb71fb8e0.json
  change/@internal-react-composites-e8c218c4-5ab6-4f77-ac50-c1904a3fb10a.json
  change/@internal-storybook-827b3b0a-2580-4b96-a306-a82bf78e4353.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/errorBarSelector.ts
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/ParticipantList.tsx
  packages/react-components/src/components/ParticipantsButton.tsx
  packages/react-components/src/localization/locales/de-DE/strings.json
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/localization/locales/es-ES/strings.json
  packages/react-components/src/localization/locales/fr-FR/strings.json
  packages/react-components/src/localization/locales/it-IT/strings.json
  packages/react-components/src/localization/locales/ja-JP/strings.json
  packages/react-components/src/localization/locales/ko-KR/strings.json
  packages/react-components/src/localization/locales/nl-NL/strings.json
  packages/react-components/src/localization/locales/pt-BR/strings.json
  packages/react-components/src/localization/locales/ru-RU/strings.json
  packages/react-components/src/localization/locales/tr-TR/strings.json
  packages/react-components/src/localization/locales/zh-CN/strings.json
  packages/react-components/src/localization/locales/zh-TW/strings.json
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/hooks/useHandlers.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.test.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/hooks/useHandlers.ts
  packages/react-composites/src/composites/MeetingComposite/SidePane.tsx
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/react-composites/tests/browser/meeting/app/index.tsx
  packages/storybook/stories/ChatComposite/CustomBehaviorExampleContainer.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomizeBehavior.snippet.tsx
  packages/storybook/stories/MeetingComposite/snippets/Meeting.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeAdapter.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeComplete.snippet.tsx
  packages/storybook/stories/Stateful Client/snippets/ChatAdapterExample.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
  packages/storybook/stories/snippets/localization/LocalizedComposites.snippet.tsx
  samples/Chat/src/app/ChatScreen.tsx
  samples/StaticHtmlComposites/index.html
  samples/StaticHtmlComposites/src/chatComposite.js
Labels: breaking-change

#1023 Make lobby screen strings and icons customizable
  change/@internal-react-composites-1bca3565-0f5a-4bad-9546-f60abce70f88.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/components/LobbyTile.tsx
  packages/react-composites/src/composites/CallComposite/pages/LobbyPage.tsx
  packages/react-composites/src/composites/CallComposite/styles/LobbyTile.styles.ts
  packages/react-composites/src/composites/common/icons.tsx
Labels: breaking-change

#1025 Alcail/chat message contextMenu and editBox accessible through keyboard
  change/@internal-react-components-82a7c7ac-d8e3-47f3-a575-b04d4805f914.json
  change/@internal-react-composites-3f9cad25-1fdf-4e41-8b7d-376f9570d2a1.json
  change/@internal-storybook-36aa626b-f239-4863-b19d-493e835f7753.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/EditBox.tsx
  packages/react-components/src/components/InputBoxComponent.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/styles/InputBoxComponent.style.ts
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  packages/storybook/stories/SendBox/snippets/CustomIcon.snippet.tsx
Labels: breaking-change, ui change

#1031 Replace `PermissionsBanner` with `ErrorBar` messages
  change/@internal-calling-component-bindings-a4eb07fd-9f35-4e37-8c1e-f8e7619cdd25.json
  change/@internal-react-components-ce99cc20-85e3-4f7f-80dc-d9190405b6d1.json
  change/@internal-react-composites-85f155a2-bebe-48a2-9047-84a416d16bce.json
  packages/calling-component-bindings/src/errorBarSelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/CallComposite/pages/CallPage.tsx
  packages/react-composites/src/composites/CallComposite/pages/LobbyPage.tsx
  packages/react-composites/src/composites/common/PermissionsBanner.test.ts
  packages/react-composites/src/composites/common/PermissionsBanner.tsx
  packages/react-composites/src/composites/common/styles/PermissionsBanner.styles.ts
Labels: breaking-change

#1032 Fix remote video streams when screensharing is active
  change/@internal-react-components-a7bad95a-3bc0-4d62-8d03-a6c92eae8402.json
  change/@internal-storybook-74629312-adf8-49d7-8b64-560be0fdfcf2.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/RemoteVideoTile.tsx
  packages/react-components/src/components/ResponsiveHorizontalGallery.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/styles/VideoGallery.styles.ts
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
Labels: breaking-change

#1033 remove InputBoxButtonProps from public API
  change/@internal-react-components-35c22b58-c859-43a8-8a50-3f02465afa06.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/InputBoxComponent.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/index.ts
Labels: breaking-change

#1035 Disallow removing Teams user from chat or call
  change/@internal-calling-component-bindings-1a7bb91f-1907-43c8-bad1-3cb17afb1a6e.json
  change/@internal-chat-component-bindings-cbb739c0-9f7c-4b9a-8ae2-ba8cfed6682e.json
  change/@internal-react-components-145c47f0-b3fb-487c-a223-d38a2029769d.json
  change/@internal-storybook-bc7f6696-2cf6-467d-8c84-8465a0f0a4c7.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/participantListSelector.ts
  packages/calling-component-bindings/src/participantsButtonSelector.ts
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/chatParticipantListSelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ParticipantList.tsx
  packages/react-components/src/components/ParticipantsButton.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/index.ts
  packages/react-components/src/types/ParticipantListParticipant.ts
  packages/react-components/src/types/index.ts
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/Default.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCallLink.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCustomRender.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCustomStyles.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithLabel.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithMuteAllOption.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithUserExcludeFromList.snippet.tsx
  packages/storybook/stories/ControlBar/ControlBar.stories.tsx
  packages/storybook/stories/ControlBar/snippets/AllButtonsControlBar.snippet.tsx
  packages/storybook/stories/ParticipantList/ParticipantList.stories.tsx
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
  packages/storybook/stories/ParticipantList/snippets/DefaultCall.snippet.tsx
  packages/storybook/stories/ParticipantList/snippets/DefaultChat.snippet.tsx
  packages/storybook/stories/ParticipantList/snippets/InteractiveCall.snippet.tsx
  packages/storybook/stories/ParticipantList/snippets/WithExcludedUser.snippet.tsx
Labels: breaking-change

#996 Setting an explicit width/height for all of our code snippets using composites
  change/@internal-storybook-6c845548-c1d8-4447-b022-61b6b34a7ef9.json
  packages/storybook/stories/CallComposite/__snapshots__/CustomDataModelExample.stories.storyshot
  packages/storybook/stories/CallComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/CustomBehaviorExampleContainer.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomizeBehavior.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeComplete.snippet.tsx
  packages/storybook/stories/Stateful Client/snippets/CallAdapterExample.snippet.tsx
  packages/storybook/stories/Stateful Client/snippets/ChatAdapterExample.snippet.tsx
  packages/storybook/stories/snippets/localization/LocalizedComposites.snippet.tsx
Labels: ui change

#1038 Fully implement identifier to/from MRI conversions
  change/@internal-acs-ui-common-b5ef9a98-cd60-4e36-9c59-70f41c66b87a.json
  change/@internal-calling-stateful-client-7c975800-b36b-495c-ba4b-fd332cbc85f5.json
  change/@internal-react-composites-507ea397-2e2c-4638-88dc-008fef0a0359.json
  change/@internal-storybook-03cc633b-45ee-431b-8f1a-427566de11f1.json
  packages/acs-ui-common/review/acs-ui-common.api.md
  packages/acs-ui-common/src/identifier.test.ts
  packages/acs-ui-common/src/identifier.ts
  packages/calling-stateful-client/src/StatefulCallClient.test.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/src/composites/ChatComposite/hooks/useAdaptedSelector.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedCallAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedChatAdapter.ts
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/react-composites/tests/browser/meeting/app/index.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeAdapter.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeComplete.snippet.tsx
  packages/storybook/stories/Stateful Client/snippets/CallAdapterExample.snippet.tsx
  packages/storybook/stories/snippets/localization/LocalizedComposites.snippet.tsx
  samples/Calling/src/app/views/CallScreen.tsx
  samples/Chat/src/app/ChatScreen.tsx
Labels: breaking-change

#1039 Genearlize `*state.userId` type to be `CommunicationIdentifierKind`
  change/@internal-calling-stateful-client-f840350e-3bbc-4bef-8146-cf3ea8c07c22.json
  change/@internal-react-composites-4538a96e-03cb-464b-9cc3-e13ac6c5264c.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallContext.ts
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/hooks/useAdaptedSelector.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/hooks/useAdaptedSelector.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedCallAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedChatAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingAdapterState.ts
  packages/react-composites/tests/browser/call/app/index.tsx
Labels: breaking-change

#1045 Bugfix - Remote video tile not flush with isSpeaking indicator
  change/@internal-react-components-86dd1bae-1f4f-438e-a600-e11140447341.json
  change/@internal-storybook-5e0b67f0-527b-4b54-85fd-6a4a3f49c68a.json
  packages/react-components/src/components/RemoteVideoTile.tsx
  packages/react-components/src/components/VideoGallery/RemoteScreenShare.tsx
  packages/react-components/src/components/VideoGallery/styles/RemoteScreenShare.styles.ts
  packages/react-components/src/components/styles/VideoGallery.styles.ts
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
Labels: ui change

#1050 Bugfix camera permanently disabled
  change/@internal-react-components-4527ddaa-b6a6-420b-b4de-2b7d7d8da6a8.json
  packages/react-components/src/components/CameraButton.tsx
Labels: ui change

#1051 Add a `NoticePage` when joinCall fails due to network issue
  change/@internal-react-composites-da2d6b97-d691-4634-bc42-e9e74f3891f7.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/pages/NoticePage.tsx
  packages/react-composites/src/composites/CallComposite/utils/Utils.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingCompositePage.ts
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
Labels: breaking-change

#1048 Remove local video tile label when screen size is narrow and local tile is floating
  change/@internal-react-components-0a454d30-7abe-4700-84a4-20666e573ae7.json
  change/@internal-react-composites-1be1d641-9ed3-4872-9927-8cb70d9b7e52.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1046 Alcail/call composite min max
  change/@internal-react-composites-9d01afb6-bbd1-4995-9665-1a3cf97e5181.json
  change/@internal-storybook-c387bcd2-ba38-41ee-81f8-55a0ebc89907.json
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/CallComposite/components/LocalDeviceSettings.tsx
  packages/react-composites/src/composites/CallComposite/pages/CallPage.tsx
  packages/react-composites/src/composites/CallComposite/pages/LobbyPage.tsx
  packages/react-composites/src/composites/CallComposite/styles/CallComposite.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/CallConfiguration.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/CallPage.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/LocalDeviceSettings.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/LocalPreview.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/StartCallButton.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-camera-enabled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-with-call-details-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-pre-join-screen-Desktop-Chrome-linux.png
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1053 Update call end page UI
  change/@internal-react-composites-6cd82f0f-957b-4362-ba36-d1ab641af9fa.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/pages/NoticePage.tsx
  packages/react-composites/src/composites/CallComposite/styles/NoticePage.styles.ts
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/left-call-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/left-call-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/remove-from-call-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/remove-from-call-page-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1054 Capitalize icon names and fix intellisense
  change/@internal-react-components-08afa0ee-c8a6-410c-9d4f-01ac1a95aee7.json
  change/@internal-react-composites-544c2200-61fb-4c52-8caa-e48b77c5a2d2.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/pages/LobbyPage.tsx
  packages/react-composites/src/composites/common/icons.tsx
Labels: breaking-change, ui change

#1052 Fix for preventing video resize when isSpeaker is on
  change/@internal-react-components-e512e509-d186-4a48-9e78-091fe399ecc3.json
  change/@internal-react-composites-28a5d410-dddd-4e7e-b93a-8fa3329cd514.json
  change/@internal-storybook-996062dc-481f-4621-b78b-7e0793d77024.json
  packages/react-components/src/components/RemoteVideoTile.tsx
  packages/react-components/src/components/VideoGallery/RemoteScreenShare.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/components/styles/VideoGallery.styles.ts
  packages/react-components/src/components/styles/VideoTile.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-camera-enabled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
Labels: ui change

#1059 VideoTile label overflow text ellipses
  change/@internal-react-components-2c54ab33-6776-4319-9f93-9cc8ae765052.json
  change/@internal-react-composites-99cf6530-42c5-4418-9d8f-bf305d615dc8.json
  change/@internal-storybook-9ff96446-8d67-4f4d-8ba3-f58b614bb996.json
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/components/styles/VideoTile.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
Labels: ui change

#1060 Add a button to rejoin call from call end pages
  change/@internal-react-composites-b4b2ca65-73d2-44b0-aa97-514584a8d4f7.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/components/StartCallButton.tsx
  packages/react-composites/src/composites/CallComposite/pages/NoticePage.tsx
  packages/react-composites/src/composites/CallComposite/styles/NoticePage.styles.ts
  packages/react-composites/src/composites/CallComposite/utils/Utils.ts
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/left-call-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/left-call-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/remove-from-call-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/remove-from-call-page-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1062 Fix chat message indicator size and "Message Seen" icon
  change/@internal-react-components-52819a0f-2322-45d4-888f-c18cd2442c6d.json
  change/@internal-react-composites-f00c3839-7c11-4769-939f-593960d11b85.json
  change/@internal-storybook-45601d96-f4ff-4342-90f7-287f8435394c.json
  packages/react-components/src/components/MessageStatusIndicator.tsx
  packages/react-components/src/components/styles/MessageStatusIndicator.styles.ts
  packages/react-components/src/components/styles/MessageThread.styles.ts
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/MessageStatusIndicator/__snapshots__/MessageStatusIndicator.stories.storyshot
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1061 Alcail/chat composite min h/w
  change/@internal-react-composites-9dc6d926-c60a-477d-a8e6-5fe6721398df.json
  change/@internal-storybook-10afd49d-c8d4-41da-aaf1-67dda53929f7.json
  common/config/rush/pnpm-lock.yaml
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/styles/Chat.styles.ts
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  samples/Chat/src/app/styles/ChatScreen.styles.ts
  samples/StaticHtmlComposites/index.html
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1040 Add UI test for component + bindings
  .github/workflows/ci.yml
  .github/workflows/update-snapshot.yml
  change/@internal-react-components-84db393a-a4ad-4fa9-b66d-c1ad9853fd47.json
  change/@internal-react-composites-c861c0d4-da26-403d-88f2-372d8554c204.json
  packages/react-components/src/localization/locales/de-DE/strings.json
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/es-ES/strings.json
  packages/react-components/src/localization/locales/fr-FR/strings.json
  packages/react-components/src/localization/locales/it-IT/strings.json
  packages/react-components/src/localization/locales/ja-JP/strings.json
  packages/react-components/src/localization/locales/ko-KR/strings.json
  packages/react-components/src/localization/locales/nl-NL/strings.json
  packages/react-components/src/localization/locales/pt-BR/strings.json
  packages/react-components/src/localization/locales/ru-RU/strings.json
  packages/react-components/src/localization/locales/tr-TR/strings.json
  packages/react-components/src/localization/locales/zh-CN/strings.json
  packages/react-components/src/localization/locales/zh-TW/strings.json
  packages/react-composites/src/composites/localization/locales/de-DE/strings.json
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/es-ES/strings.json
  packages/react-composites/src/composites/localization/locales/fr-FR/strings.json
  packages/react-composites/src/composites/localization/locales/it-IT/strings.json
  packages/react-composites/src/composites/localization/locales/ja-JP/strings.json
  packages/react-composites/src/composites/localization/locales/ko-KR/strings.json
  packages/react-composites/src/composites/localization/locales/nl-NL/strings.json
  packages/react-composites/src/composites/localization/locales/pt-BR/strings.json
  packages/react-composites/src/composites/localization/locales/ru-RU/strings.json
  packages/react-composites/src/composites/localization/locales/tr-TR/strings.json
  packages/react-composites/src/composites/localization/locales/zh-CN/strings.json
  packages/react-composites/src/composites/localization/locales/zh-TW/strings.json
  samples/ComponentExamples/README.md
  samples/ComponentExamples/appsettings.json
  samples/ComponentExamples/src/examples/RenderSingleVideoTileExample.tsx
  samples/ComponentExamples/src/index.tsx
  samples/ComponentExamples/src/utils/getEndpointUrl.ts
  samples/ComponentExamples/src/utils/getToken.ts
  samples/ComponentExamples/src/utils/loadConfigFromUrlQuery.ts
  samples/ComponentExamples/src/utils/utils.ts
  samples/tests/ComponentExamples/ComponentExamples.test.ts
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStarted-chromium-linux.png
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStopped-chromium-linux.png
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
  samples/tests/common/test.y4m
  samples/tests/package.json
  samples/tests/playwright.config.ts
Labels: ui change

#1071 Revert PR #968 (A test change to the Camera Button function signature)
  change/@internal-react-components-66785bee-ce56-4bbe-9b39-f3cc727ae934.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/CameraButton.tsx
Labels: breaking-change

#1072 Re-enable `ae-incompatible-release-tags` - Mark StatefulCallClient `diagnostics` as public and `transfer` beta
  change/@internal-calling-stateful-client-bc80be50-1716-4828-9324-104277dc5434.json
  common/config/api-extractor/api-extractor.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#1074 Update meeting composite to @beta instead of @alpha
  change/@internal-react-composites-fe54588b-ce65-407f-a269-1a1b5957db0d.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingAdapterState.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingCompositePage.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingEndReason.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingParticipants.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingState.ts
Labels: breaking-change

#1077 Add control bar button tooltips
  change/@internal-react-components-1a45aea4-02f3-4231-98d7-00abdb129def.json
  change/@internal-storybook-288f39fc-b5e0-49b1-ba3d-a65db7c7a8c8.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/components/ControlBarButton.tsx
  packages/react-components/src/components/ControlButtonTooltip.tsx
  packages/react-components/src/components/EndCallButton.tsx
  packages/react-components/src/components/MicrophoneButton.tsx
  packages/react-components/src/components/OptionsButton.tsx
  packages/react-components/src/components/ParticipantsButton.tsx
  packages/react-components/src/components/ScreenShareButton.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/storybook/stories/ControlBar/Buttons/ControlBarButton/__snapshots__/ControlBarButton.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/EndCall/__snapshots__/EndCall.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Microphone/__snapshots__/Microphone.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Options/__snapshots__/Options.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Participants/__snapshots__/Participants.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/ScreenShare/__snapshots__/ScreenShare.stories.storyshot
  packages/storybook/stories/ControlBar/__snapshots__/ControlBar.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
Labels: breaking-change

#1076 Display "You" instead of complete name in local video tile.
  change/@internal-react-components-5e522bdc-17bd-4373-8e86-6c9d27e6458a.json
  change/@internal-react-composites-7a15e240-57eb-427e-9784-1466aa529738.json
  change/@internal-react-composites-971115ba-a3f1-4ab0-a146-dab9784a7868.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
Labels: breaking-change, ui change

#1078 Make all button width consistent in desktop mode
  change/@internal-react-composites-a4766376-b705-41f9-9cad-3708674d1357.json
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/styles/CallControls.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
Labels: ui change

#1083 Move mobileView prop to top level
  change/@internal-react-composites-83011ace-47f1-4d6b-882c-838ded213672.json
  change/@internal-storybook-1ee464fd-124d-463c-8fcd-d80f6e7aa87d.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/pages/CallPage.tsx
  packages/react-composites/src/composites/CallComposite/pages/LobbyPage.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/meeting/app/index.tsx
  packages/storybook/stories/CallComposite/BasicExample.stories.tsx
  packages/storybook/stories/CallComposite/CallCompositeDocs.tsx
  packages/storybook/stories/CallComposite/CustomDataModelExample.stories.tsx
  packages/storybook/stories/CallComposite/JoinExistingCall.stories.tsx
  packages/storybook/stories/CallComposite/ThemeExample.stories.tsx
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/MeetingComposite/MeetingCompositeDocs.tsx
  samples/Calling/src/app/views/CallScreen.tsx
Labels: breaking-change

#1079 Add UI test for call control button tooltip
  change/@internal-react-components-bcbf033a-ba52-47c6-93f6-085afc638bc5.json
  change/@internal-react-composites-86ebc23f-1d44-4551-b95d-3df3c8283f68.json
  packages/react-components/src/components/ControlButtonTooltip.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-unmute-tooltip-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-unmute-tooltip-Mobile-Android-Portrait-linux.png
Labels: ui change

#1095 Rename `mobileView` to `formFactor`
  change/@internal-react-composites-c7cb3abe-b16e-4cae-992b-14c0eb2944d3.json
  change/@internal-storybook-8d42032a-fa85-4f7d-b545-e7b6c58b4091.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/meeting/app/index.tsx
  packages/storybook/stories/CallComposite/BasicExample.stories.tsx
  packages/storybook/stories/CallComposite/CallCompositeDocs.tsx
  packages/storybook/stories/CallComposite/CustomDataModelExample.stories.tsx
  packages/storybook/stories/CallComposite/JoinExistingCall.stories.tsx
  packages/storybook/stories/CallComposite/ThemeExample.stories.tsx
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/CallComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/ChatCompositeDocs.tsx
  packages/storybook/stories/MeetingComposite/MeetingCompositeDocs.tsx
  packages/storybook/stories/controlsUtils.ts
  samples/Calling/src/app/views/CallScreen.tsx
Labels: breaking-change

#1093 [API update] VideoGallery V2 custom styling and docs
  change/@internal-react-components-eba729ff-415d-472a-8166-4f55191a869d.json
  change/@internal-storybook-0b0f7191-534a-4807-87eb-7b36322fc187.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/GridLayout.tsx
  packages/react-components/src/components/HorizontalGallery.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/HorizontalGallery.styles.ts
  packages/react-components/src/components/styles/VideoGallery.styles.ts
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/VideoGallery/VideoGallery.stories.tsx
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoGallery/snippets/CustomStyle.snippet.tsx
Labels: breaking-change

#1091 Bugfix for disappearing Lobby
  change/@internal-calling-component-bindings-21757bc8-cdf2-40cc-a376-2a7a658ade6a.json
  change/@internal-react-composites-009fa333-a91b-4879-8ad4-011d41c482c4.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/callUtils.ts
  packages/calling-component-bindings/src/index.ts
  packages/react-composites/src/composites/CallComposite/utils/Utils.ts
  packages/react-composites/tests/browser/call/app/public/index.html
  packages/react-composites/tests/browser/chat/app/public/index.html
Labels: ui change

#1096 Rename `compressedMode` to `displayType`
  change/@internal-react-composites-1eef12ec-64f1-43fb-a4b5-2c2ce03bb93d.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/utils/Utils.test.ts
  packages/react-composites/src/composites/CallComposite/utils/Utils.ts
Labels: breaking-change

#1082 make the button width/height as large as the inner svg width/height
  change/@internal-react-components-c8ea36ab-47c4-4b53-8418-75c8f1b64684.json
  change/@internal-react-composites-472cf202-268a-42a6-921a-9e971ef75171.json
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStarted-chromium-linux.png
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStopped-chromium-linux.png
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1105 Delete all references to `CallTransfer` feature
  change/@internal-calling-stateful-client-478abebc-1026-4fd6-b3c7-0892b32eee48.json
  change/@internal-react-composites-64757502-e119-46b4-a542-4611d4fced72.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallAgentDeclarative.test.ts
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallContext.ts
  packages/calling-stateful-client/src/CallDeclarative.test.ts
  packages/calling-stateful-client/src/CallDeclarative.ts
  packages/calling-stateful-client/src/CallSubscriber.ts
  packages/calling-stateful-client/src/Converter.ts
  packages/calling-stateful-client/src/ReceivedTransferSubscriber.ts
  packages/calling-stateful-client/src/RequestedTransferSubscriber.ts
  packages/calling-stateful-client/src/StatefulCallClient.test.ts
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/calling-stateful-client/src/StreamUtils.test.ts
  packages/calling-stateful-client/src/TestUtils.ts
  packages/calling-stateful-client/src/TransferCallFeatureDeclarative.ts
  packages/calling-stateful-client/src/index.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedCallAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingState.ts
Labels: breaking-change

#1056 Bump headless calling dependency to 1.3.1-beta.1
  change/@internal-calling-component-bindings-95ababe9-fac2-4bec-8e09-f1115301e4a6.json
  change/@internal-calling-stateful-client-0a1e5f6d-5976-4798-b2bd-a43445cda8d4.json
  change/@internal-react-composites-9eb3282f-e544-41b4-8d77-4055f7f33722.json
  change/@internal-storybook-43dde076-4b40-487c-b833-78a96f0540e2.json
  common/config/rush/pnpm-lock.yaml
  packages/calling-component-bindings/package.json
  packages/calling-stateful-client/package.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallAgentDeclarative.test.ts
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallSubscriber.ts
  packages/calling-stateful-client/src/StatefulCallClient.test.ts
  packages/calling-stateful-client/src/TestUtils.ts
  packages/communication-react/package.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/package.json
  packages/react-composites/src/composites/CallComposite/adapter/DiagnosticsForwarder.ts
  packages/storybook/package.json
  samples/Calling/package.json
  samples/ComponentExamples/appsettings.json
  samples/ComponentExamples/package.json
  samples/tests/playwright.config.ts
Labels: breaking-change

#1067 calling: Expose diagnostic API and add UI library tag
  change/@internal-calling-stateful-client-4f9e3fec-4efb-45e5-8158-0a25acb2931f.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#1106 Bugfix 2648152 sorted participants
  change/@internal-calling-component-bindings-caafb3a6-36c7-42a8-87a2-a9a13d8eea14.json
  packages/calling-component-bindings/src/participantListSelector.ts
Labels: ui change

#1122 Add document section and video about generating access tokens
  change/@internal-storybook-4df00ac6-e498-46c8-a6b4-0c008a4aee80.json
  packages/storybook/public/videos/generate-access-token.mp4
  packages/storybook/stories/CallComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/CallComposite/__snapshots__/CustomDataModelExample.stories.storyshot
  packages/storybook/stories/CallComposite/__snapshots__/JoinExistingCall.stories.storyshot
  packages/storybook/stories/CallComposite/__snapshots__/ThemeExample.stories.storyshot
  packages/storybook/stories/CallComposite/snippets/Utils.tsx
  packages/storybook/stories/ChatComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/CustomBehavior.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/CustomDataModelExample.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/JoinExistingChatThread.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/ThemesExample.stories.storyshot
  packages/storybook/stories/ChatComposite/snippets/Utils.tsx
  packages/storybook/stories/CompositeStringUtils.tsx
  packages/storybook/stories/MeetingComposite/Utils.tsx
  packages/storybook/stories/MeetingComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/MeetingComposite/__snapshots__/JoinExample.stories.storyshot
  packages/storybook/stories/QuickStarts/QuickstartComposite.stories.mdx
  packages/storybook/stories/constants.ts
Labels: ui change

#1132 Enable locales and icons in MeetingComposite
  change/@internal-react-composites-1201cc92-0545-4135-b666-5d320bb15804.json
  common/config/rush/pnpm-lock.yaml
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/package.json
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.test.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/SidePane.tsx
Labels: breaking-change

#1111 VideoGallery UUID for its local video tile to dock to.
  change/@internal-react-components-d6a8dba5-a8a4-4f1e-816f-b94c7ef635a5.json
  change/@internal-storybook-369108de-2ed0-45dc-9a76-35f091c05f27.json
  packages/communication-react/package.json
  packages/react-components/package.json
  packages/react-components/src/components/VideoGallery.tsx
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
Labels: ui change

#1141 Alkwa/update feedback section
  change/@internal-storybook-c7f69b9d-5b83-4d4b-8a84-4e23400621dd.json
  packages/storybook/stories/Feedback.stories.mdx
Labels: ui change

#1148 Display a microphone tooltip in lobby informing users that it can not be toggled.
  change/@internal-react-composites-a2b7623e-f6db-43d8-b2db-2066a520f634.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
Labels: breaking-change

#1145 Bugfix for vertically truncated participant names
  change/@internal-react-components-b2474517-31bb-4e4d-bb32-57500520272d.json
  change/@internal-storybook-02384008-9c33-442e-93a1-45ee8dfbe4e8.json
  packages/react-components/src/components/ParticipantItem.tsx
  packages/storybook/stories/ParticipantItem/__snapshots__/ParticipantItem.stories.storyshot
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
Labels: ui change

#1158 Bugfix 2631977 edit message not scrollable
  change/@internal-react-components-67fb869f-91ee-4107-896c-6756f6065df5.json
  change/@internal-react-composites-62b4cf94-13f9-4dc7-b18a-c7cf501c974a.json
  packages/react-components/src/components/styles/InputBoxComponent.style.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-camera-enabled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-camera-enabled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-unmute-tooltip-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-unmute-tooltip-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-with-call-details-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-with-call-details-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
Labels: ui change

#1166 add tooltip strings for disabled buttons in control bar
  change/@internal-react-components-6b001c89-27e0-4858-9d4b-bf1518115e6c.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/components/ControlBarButton.tsx
  packages/react-components/src/components/MicrophoneButton.tsx
  packages/react-components/src/components/ScreenShareButton.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
Labels: breaking-change

#1162 VideoGallery gap fixed for Safari on iPhone SE
  change/@internal-react-components-4b583450-c21d-4111-a104-03cdf2b5537b.json
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/styles/VideoGallery.styles.ts
Labels: ui change

#1173 Change name contains option to options
  change/@internal-react-components-a8fb2f30-6d69-44f6-9d5e-8c3438386ddb.json
  change/@internal-react-composites-18452cfa-6a87-4f15-bfe6-c9cef4f8ac54.json
  change/@internal-storybook-e304601e-b7a1-4e1b-903d-534981bf51f2.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/components/RemoteVideoTile.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-composites/src/composites/CallComposite/components/ExpandedLocalVideoTile.tsx
  packages/react-composites/src/composites/CallComposite/components/LocalDeviceSettings.tsx
  packages/react-composites/src/composites/CallComposite/components/MediaGallery.tsx
  packages/storybook/stories/ControlBar/Buttons/Camera/Camera.stories.tsx
  packages/storybook/stories/VideoGallery/VideoGallery.stories.tsx
Labels: breaking-change

#1175 Screenshare rerender fix
  change/@internal-react-components-8d348050-0d2a-4ea1-a043-4e10955ffb9d.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/RemoteVideoTile.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoGallery/RemoteScreenShare.tsx
Labels: breaking-change, ui change

#1163 Dock local video tile
  change/@internal-react-components-e3b45b72-0470-458e-ab2b-d7225e518863.json
  change/@internal-storybook-09dfa0eb-1b18-44bb-9d51-088d5b1a27e7.json
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/styles/VideoGallery.styles.ts
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
Labels: ui change
