Repository Azure/communication-ui-library, pull requests merged in 2021-12, with the labels that each got.

#1197 TDBuild update
  change/@internal-react-components-13fa1a16-9030-488c-8ef4-a44ac90a795b.json
  change/@internal-react-composites-8823f31a-3a03-4a0e-87d0-a840696792f4.json
  packages/react-components/src/localization/locales/de-DE/strings.json
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/es-ES/strings.json
  packages/react-components/src/localization/locales/fr-FR/strings.json
  packages/react-components/src/localization/locales/it-IT/strings.json
  packages/react-components/src/localization/locales/ja-JP/strings.json
  packages/react-components/src/localization/locales/ko-KR/strings.json
  packages/react-components/src/localization/locales/nl-NL/strings.json
  packages/react-components/src/localization/locales/pt-BR/strings.json
  packages/react-components/src/localization/locales/ru-RU/strings.json
  packages/react-components/src/localization/locales/tr-TR/strings.json
  packages/react-components/src/localization/locales/zh-CN/strings.json
  packages/react-components/src/localization/locales/zh-TW/strings.json
  packages/react-composites/src/composites/localization/locales/de-DE/strings.json
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/es-ES/strings.json
  packages/react-composites/src/composites/localization/locales/fr-FR/strings.json
  packages/react-composites/src/composites/localization/locales/it-IT/strings.json
  packages/react-composites/src/composites/localization/locales/ja-JP/strings.json
  packages/react-composites/src/composites/localization/locales/ko-KR/strings.json
  packages/react-composites/src/composites/localization/locales/nl-NL/strings.json
  packages/react-composites/src/composites/localization/locales/pt-BR/strings.json
  packages/react-composites/src/composites/localization/locales/ru-RU/strings.json
  packages/react-composites/src/composites/localization/locales/tr-TR/strings.json
  packages/react-composites/src/composites/localization/locales/zh-CN/strings.json
  packages/react-composites/src/composites/localization/locales/zh-TW/strings.json
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
Labels: ui change

#1191 Restricting typing indicator to the max width of sendbox
  change/@internal-react-composites-f84fe459-9aca-4d61-b09c-299f9f794864.json
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/styles/Chat.styles.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/app/index.tsx
Labels: ui change

#1210 Fix typo in exposed Strings field
  change/@internal-react-composites-7962b1f6-6f34-4f1c-af4b-d6b4b88d3214.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/components/ComplianceBanner.tsx
  packages/react-composites/src/composites/localization/locales/de-DE/strings.json
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/src/composites/localization/locales/es-ES/strings.json
  packages/react-composites/src/composites/localization/locales/fr-FR/strings.json
  packages/react-composites/src/composites/localization/locales/it-IT/strings.json
  packages/react-composites/src/composites/localization/locales/ja-JP/strings.json
  packages/react-composites/src/composites/localization/locales/ko-KR/strings.json
  packages/react-composites/src/composites/localization/locales/nl-NL/strings.json
  packages/react-composites/src/composites/localization/locales/pt-BR/strings.json
  packages/react-composites/src/composites/localization/locales/ru-RU/strings.json
  packages/react-composites/src/composites/localization/locales/tr-TR/strings.json
  packages/react-composites/src/composites/localization/locales/zh-CN/strings.json
  packages/react-composites/src/composites/localization/locales/zh-TW/strings.json
Labels: breaking-change

#1230 Alcail/call local preview font fix
  change/@internal-react-composites-738dbce4-6b19-44d2-8837-30c6dfbc8b69.json
  packages/react-composites/src/composites/CallComposite/components/LocalPreview.tsx
  packages/react-composites/src/composites/CallComposite/styles/LocalPreview.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-unmute-tooltip-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-unmute-tooltip-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-with-call-details-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/call-configuration-page-with-call-details-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-Mobile-Android-Portrait-linux.png
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1209 Bump @azure/communication-calling to new stable version
  change/@internal-calling-component-bindings-f6c327ca-17fc-498a-90cf-1099ec49fed4.json
  change/@internal-calling-stateful-client-d27c72ea-9b29-4037-9e2a-8b18ae674609.json
  change/@internal-react-composites-856af997-fe2b-46f9-9212-b2c7374abefc.json
  change/@internal-storybook-1c5b31e6-a774-4e77-8320-02b87cdd576c.json
  common/config/rush/pnpm-lock.yaml
  packages/calling-component-bindings/package.json
  packages/calling-stateful-client/package.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallAgentDeclarative.test.ts
  packages/calling-stateful-client/src/CallClientState.ts
  packages/communication-react/package.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/package.json
  packages/storybook/package.json
  samples/Calling/package.json
  samples/ComponentExamples/package.json
  samples/tests/playwright.config.ts
Labels: breaking-change

#1247 add aria-label strings to MessageStatusIndicator
  change/@internal-react-components-e10867e4-e211-4e79-b02c-0d76fe927e44.json
  change/@internal-storybook-35d704b0-7a7f-411f-9625-f0c79e94e54a.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/MessageStatusIndicator.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/storybook/stories/MessageStatusIndicator/__snapshots__/MessageStatusIndicator.stories.storyshot
Labels: breaking-change

#1235 Dmceachernmsft/keyboardFocusLostInChat
  change/@internal-react-components-27920e95-e44e-4cc2-91a2-50484465e1ec.json
  change/@internal-react-composites-d6f750f7-45b3-4ace-90e3-df055d1182c6.json
  change/@internal-storybook-22c00b8c-1e21-48f1-b9d5-bdaf64c562a3.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/InputBoxComponent.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  samples/Chat/src/app/ChatHeader.tsx
  samples/Chat/src/app/ChatScreen.tsx
  samples/Chat/src/app/styles/ChatHeader.styles.ts
  samples/Chat/src/app/styles/ChatScreen.styles.ts
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts
Labels: breaking-change, ui change

#1253 Alcail/camera tooltip when waiting for stream
  change/@internal-react-components-9a822f88-c39d-4d91-9b15-36af563aa5b7.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
Labels: breaking-change

#1256 MeetingCallControlsOptions
  change/@internal-react-composites-ee0f94e2-d47a-4d62-ac7a-240a72720e08.json
  change/@internal-storybook-a65e27b2-228e-4f4f-83be-49abcc39ef46.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/storybook/stories/MeetingComposite/snippets/Meeting.snippet.tsx
Labels: breaking-change, ui change

#1265 Bug 2564703 - [Call composite - control bar navigation]: Icon is not clearly visible on All buttons in aquatic mode under 'Calling window' page.
  change/@internal-react-components-a6a5852b-e506-4985-b3b4-21a2f68b8e9f.json
  change/@internal-storybook-426e1de3-f029-4583-9284-50044559c4ae.json
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/components/DevicesButton.tsx
  packages/react-components/src/components/EndCallButton.tsx
  packages/react-components/src/components/HighContrastAwareIcon.tsx
  packages/react-components/src/components/MicrophoneButton.tsx
  packages/react-components/src/components/ParticipantsButton.tsx
  packages/react-components/src/components/ScreenShareButton.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/ControlBar/Buttons/Devices/__snapshots__/Devices.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Microphone/__snapshots__/Microphone.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Participants/__snapshots__/Participants.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/ScreenShare/__snapshots__/ScreenShare.stories.storyshot
  packages/storybook/stories/ControlBar/__snapshots__/ControlBar.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
Labels: ui change

#1266 Dmceachernmsft/MeetingControlBarBooleanType
  change/@internal-react-composites-64745940-01bf-4a6f-a175-1c973a06e95c.json
  change/@internal-storybook-30d430d8-4675-460d-9f7c-873d7d3efbac.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/pages/CallPage.tsx
  packages/react-composites/src/composites/CallComposite/pages/LobbyPage.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/storybook/stories/MeetingComposite/BasicExample.stories.tsx
  packages/storybook/stories/MeetingComposite/snippets/Meeting.snippet.tsx
  packages/storybook/stories/MeetingComposite/snippets/Server.snippet.tsx
  samples/Chat/src/app/ChatHeader.tsx
Labels: breaking-change

#1274 Dmceachernmsft/meetingCompositeLocalesIcons
  change/@internal-react-composites-0548df30-0968-460b-8730-04bd4858dfd4.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/Strings.tsx
  packages/react-composites/src/composites/MeetingComposite/index.ts
  packages/react-composites/src/composites/localization/LocalizationProvider.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  samples/Calling/src/app/App.tsx
  samples/Chat/src/app/App.tsx
Labels: breaking-change

#1276 Fixed end call button to have red background in all accessibility modes
  change/@internal-react-components-2ea92f02-8df3-4e0b-9ce9-fa5687ba6cb1.json
  packages/react-components/src/components/EndCallButton.tsx
  packages/react-components/src/components/HighContrastAwareIcon.tsx
Labels: ui change
