Repository Azure/communication-ui-library, pull requests merged in 2021-10, with the labels that each got.

#847 Cleanup `fixture.ts` files
  change/@internal-react-composites-15c4b9d2-18c1-46c6-ade6-0c79292bf125.json
  packages/react-composites/tests/browser/call/fixture.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-0-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-1-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-chromium.png
  packages/react-composites/tests/browser/chat/fixture.ts
  packages/react-composites/tests/browser/common/browsers.ts
  packages/react-composites/tests/browser/common/defaults.ts
  packages/react-composites/tests/browser/common/fixtureHelpers.ts
  packages/react-composites/tests/browser/common/utils.ts
  packages/react-composites/tests/browser/meeting/fixture.ts
  packages/react-composites/tests/server/server.ts
Labels: ui change

#848 Add playwright config
  change/@internal-react-composites-08387578-bf7f-49c9-9a72-70b828046163.json
  packages/react-composites/package.json
  packages/react-composites/playwright.config.ts
Labels: ui change

#867 Update options button icon
  change/@internal-react-components-db66d731-03f4-4b0a-a32e-ee3b05216684.json
  change/@internal-react-composites-679e49f8-4037-406e-a714-fa45f4a78f72.json
  change/@internal-storybook-2daa72cd-918a-49aa-83ec-60594aa8e374.json
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-people-pane-has-participants-chromium.png
  packages/storybook/stories/ControlBar/Buttons/Options/__snapshots__/Options.stories.storyshot
  packages/storybook/stories/ControlBar/__snapshots__/ControlBar.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
Labels: ui change

#849 Remove thresholds in tests, enable accidentally excluded meeting tests, disallow .only in config
  change/@internal-react-composites-ebf9495a-c6a9-4fbd-9d9b-7fc1dd83cdce.json
  packages/react-composites/playwright.config.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/Localization.test.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts
  packages/react-composites/tests/browser/chat/Localization.test.ts
  packages/react-composites/tests/browser/common/browsers.ts
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-basic-gallery-screen-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-chat-pane-has-messages-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-pre-join-screen-chromium.png
  packages/react-composites/tests/browser/meeting/app/public/index.html
Labels: ui change

#834 exposing styling through composite
  change/@internal-react-components-97ccb55b-fe63-4cc1-8003-18bf04a13072.json
  change/@internal-react-composites-1f4654e5-cc78-404e-91dd-aa2aeda8f126.json
  change/@internal-storybook-ddba6e1c-27f7-4260-947c-b5fc680fc3f1.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/InputBoxComponent.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/EditBox.styles.ts
  packages/react-components/src/components/styles/InputBoxComponent.style.ts
  packages/react-components/src/components/styles/MessageThread.styles.ts
  packages/react-components/src/components/styles/TypingIndicator.styles.ts
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/styles/Chat.styles.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-0-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-1-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-chromium-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-chat-pane-has-messages-chromium.png
  packages/storybook/stories/MessageThread/snippets/CustomMessageContainer.snippet.tsx
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  samples/Chat/src/app/ChatScreen.tsx
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: breaking-change, ui change

#859 Small api adjustments according to ARB review
  change/@internal-calling-stateful-client-729815e3-b1c1-474d-8f5f-2a31809c5d6c.json
  change/@internal-react-composites-106f0a7f-7739-4ab9-bd2c-0535ff7a2f31.json
  change/@internal-storybook-5c83875b-769b-4d69-9b3a-1bca914c34f9.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/common/adapters.ts
  packages/react-composites/src/composites/index.ts
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/CallComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  samples/Calling/src/app/views/CallScreen.tsx
Labels: breaking-change

#868 Add tsdoc for calling adapter method
  change/@internal-react-composites-7570d9b3-0b51-4136-80bb-19d275961aca.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
Labels: breaking-change

#870 Add tsdoc to chat adapter methods
  change/@internal-react-composites-36ef5ccd-94f0-49cb-aeff-657edc4b6a5e.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
Labels: breaking-change

#830 Simplified component message hierarchy
  change/@internal-chat-component-bindings-ef21405b-3fe1-40a5-a22e-6c1160ee622f.json
  change/@internal-react-components-b5fbed94-0932-45b6-bbaa-67314edbc29a.json
  change/@internal-react-composites-59df1194-f204-492d-b984-de5e815ab32d.json
  change/@internal-storybook-40ce5590-3cb7-4a0f-9eb6-dc08e78f3493.json
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/chat-component-bindings/src/utils/compareMessages.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/MessageThread.test.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/types/ChatMessage.ts
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/storybook/stories/MessageThread/MessageThread.stories.tsx
  packages/storybook/stories/MessageThread/placeholdermessages.ts
  packages/storybook/stories/MessageThread/snippets/CustomMessages.snippet.tsx
  packages/storybook/stories/MessageThread/snippets/placeholdermessages.ts
  packages/storybook/stories/QuickStarts/snippets/ChatComponents.tsx
Labels: breaking-change, ui change

#851 UI tests: Add missing awaits, remove testBrowser, other cleanup
  change/@internal-react-components-b9a5b9f0-bbf0-4641-9a71-ea017f21355d.json
  change/@internal-react-composites-4f727e70-637d-4e4c-9e78-884fd160fea3.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/identifiers/IdentifierProvider.tsx
  packages/react-composites/playwright.config.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/Localization.test.ts
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/call/fixture.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-linux.png
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/react-composites/tests/browser/chat/fixture.ts
  packages/react-composites/tests/browser/common/browsers.ts
  packages/react-composites/tests/browser/common/constants.ts
  packages/react-composites/tests/browser/common/fixtureHelpers.ts
  packages/react-composites/tests/browser/common/fixtureTypes.ts
  packages/react-composites/tests/browser/common/nodeConstants.ts
  packages/react-composites/tests/browser/common/testAppUtils.ts
  packages/react-composites/tests/browser/common/testapp.webpack.config.js
  packages/react-composites/tests/browser/common/utils.ts
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts
  packages/react-composites/tests/browser/meeting/app/index.tsx
  packages/react-composites/tests/browser/meeting/fixture.ts
Labels: breaking-change, ui change

#880 Rename `ActiveError` to `ActiverErrorMessage`
  change/@internal-calling-component-bindings-2c65df1e-42ed-4a54-b8f6-49022d9c866c.json
  change/@internal-chat-component-bindings-5686f41f-5a1a-4f09-8a61-aefd81c824ff.json
  change/@internal-react-components-cacef02b-2e77-4331-bf7f-ab023a9a4825.json
  change/@internal-storybook-766602d5-15e4-403c-9108-399e40cdba24.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/errorBarSelector.ts
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/errorBarSelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.test.tsx
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/components/index.ts
  packages/storybook/stories/ErrorBar/ErrorBar.stories.tsx
Labels: breaking-change

#882 Rename `*Error.inner` to `*Error.innerError`
  change/@internal-calling-stateful-client-a63563ec-f749-475f-9560-1bc1b30d013d.json
  change/@internal-chat-component-bindings-77de9999-56ca-4b0b-a022-790429c7cfc7.json
  change/@internal-chat-stateful-client-81fcd890-b3bc-4ff2-bc9d-f8e775f9f08f.json
  change/@internal-react-composites-39b7bc23-30bd-4735-bdb2-46a1c02a16d6.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/chat-component-bindings/src/errorBarSelector.ts
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatClientState.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/common/adapters.ts
Labels: breaking-change

#1002 Increase CallComposite participant button flyout items and subitems height on mobile
  change/@internal-react-components-8bba4dc2-35df-4b73-97aa-73a32ac36f42.json
  change/@internal-react-composites-4c8fa7d8-d8e1-4b53-ab0c-9a14627af316.json
  packages/react-components/src/components/ParticipantsButton.tsx
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/styles/CallControls.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
Labels: ui change

#1008 Translate several User Facing Diagnostics to error bar notifications
  change/@internal-calling-component-bindings-5fbeb150-5a14-46a4-94c1-8f8cfae0db93.json
  change/@internal-react-components-27133865-2d89-4490-a361-685f0c2b5857.json
  change/@internal-react-composites-58aa3310-b6b3-4c0d-8ef7-aab5cb7899a2.json
  change/@internal-storybook-785a26e7-1008-4e81-9517-a4a4fa527c9d.json
  packages/calling-component-bindings/src/errorBarSelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/review/react-composites.api.md
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change
