Repository Azure/communication-ui-library, pull requests merged in 2021-08, with the labels that each got.

#603 Add system message to component/bindings/composite support
  change/@internal-chat-component-bindings-774e771e-da25-4edb-95dd-6efc5fddcc93.json
  change/@internal-chat-stateful-client-0609caa7-f3e6-4499-a8e1-7336ec6a7fea.json
  change/@internal-react-components-f438e005-3832-49ca-a828-80d4a267c574.json
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/chatThreadSelector.ts
  packages/chat-component-bindings/src/utils/compareMessages.ts
  packages/chat-component-bindings/src/utils/constants.ts
  packages/chat-stateful-client/src/EventSubscriber.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/localization/translated/ar_SA.json
  packages/react-components/src/localization/translated/de_DE.json
  packages/react-components/src/localization/translated/en_US.json
  packages/react-components/src/localization/translated/fr_FR.json
  packages/react-components/src/types/ChatMessage.ts
  packages/storybook/stories/MessageThread/placeholdermessages.ts
  packages/storybook/stories/MessageThread/snippets/placeholdermessages.ts
Labels: breaking-change

#628 Call Composite Automation Tests
  change/@internal-react-components-796adb3b-7bca-428b-8159-ca8034d3c573.json
  change/@internal-react-composites-fd184ddb-1a29-4c0e-a6d8-27555861c79d.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/identifiers/IdentifierProvider.tsx
  packages/react-components/src/identifiers/IndentifierProvider.tsx
  packages/react-composites/src/composites/CallComposite/CallControls.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/react-composites/tests/browser/config.ts
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
Labels: breaking-change

#624 Quick Fix: remove `ChatObjectMethodNames` type to support typescript < 4.1
  change/@internal-chat-stateful-client-1590f6eb-8e49-4add-8856-500109777482.json
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatClientState.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#626 Update `createAzureCommunicationChatAdapter` ctor to take an object instead of many params
  change/@internal-react-composites-fc54afea-88af-4bfd-b28f-43533ecefd56.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.test.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/storybook/stories/ChatComposite/CustomBehaviorExampleContainer.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomizeBehavior.snippet.tsx
  packages/storybook/stories/MeetingComposite/snippets/Meeting.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeAdapter.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeComplete.snippet.tsx
  packages/storybook/stories/Stateful Client/snippets/ChatAdapterExample.snippet.tsx
  packages/storybook/stories/snippets/localization/LocalizedComposites.snippet.tsx
  samples/StaticHtmlComposites/src/chatComposite.js
Labels: breaking-change

#636 Explicitly list error targets in chat stateful client
  change/@internal-chat-stateful-client-1590f6eb-8e49-4add-8856-500109777482.json
  change/@internal-chat-stateful-client-4ab8067f-e02d-4ae7-af21-7644e44a1c93.json
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatClientState.ts
  packages/chat-stateful-client/src/TypeAssertions.ts
  packages/chat-stateful-client/src/index.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#644 Align `joinCall` return type to `startCall`
  change/@internal-react-composites-2cb8cae3-c2b6-43aa-83d3-0b20e7e761d2.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
Labels: breaking-change

#649 Bugfix for [2537130] and [2475620]
  change/@internal-calling-component-bindings-cb9889d4-0577-4e99-90b7-fe55312a468e.json
  change/@internal-react-composites-ec5515cf-d1ef-4f33-8301-7cdb3d69d1c7.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/src/composites/CallComposite/ScreenShare.tsx
  packages/react-composites/src/composites/CallComposite/styles/MediaGallery.styles.ts
Labels: breaking-change

#646 Drop redundant prop `VideoTile.isVideoReady`
  change/@internal-react-components-d09fea61-524a-4cef-aac3-89c21afac801.json
  change/@internal-react-composites-db25102c-62b2-4d44-ba49-4780063d66dd.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-composites/src/composites/CallComposite/Lobby.tsx
  packages/react-composites/src/composites/CallComposite/LocalPreview.tsx
  packages/react-composites/src/composites/CallComposite/ScreenShare.tsx
  packages/storybook/stories/Examples/IncomingCallAlerts/IncomingCallAlertsDocs.tsx
  packages/storybook/stories/Examples/IncomingCallAlerts/IncomingCallModal.tsx
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallAlerts.stories.storyshot
  packages/storybook/stories/Examples/IncomingCallAlerts/components/IncomingCallAlerts.tsx
  packages/storybook/stories/Examples/Layouts/OneToOneCallLayout.tsx
  packages/storybook/stories/Examples/Layouts/ScreenShareLayout.tsx
  packages/storybook/stories/Examples/Layouts/snippets/OneToOneCallLayout.snippet.tsx
  packages/storybook/stories/Examples/Layouts/snippets/ScreenShareLayout.snippet.tsx
  packages/storybook/stories/Examples/LocalPreview/snippets/LocalPreviewExample.snippet.tsx
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/snippets/Lobby.snippet.tsx
  packages/storybook/stories/Examples/Themes/snippets/TeamsTheme.snippet.tsx
  packages/storybook/stories/GridLayout/GridLayout.stories.tsx
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/QuickStarts/snippets/CallingComponents.tsx
  packages/storybook/stories/Styling/snippets/StylingVideoTile.snippet.tsx
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/VideoTile.stories.tsx
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
  packages/storybook/stories/VideoTile/snippets/VideoTile.snippet.tsx
  packages/storybook/stories/VideoTile/snippets/VideoTilePlaceholder.snippet.tsx
Labels: breaking-change

#648 Add snapshot update yml, trigger snapshot update from pr label
  .github/workflows/ci.yml
  .github/workflows/update-snapshot.yml
  docs/contributing-guide/6. submitting-a-pr.md
  docs/images/check-snapshots.png
  samples/StaticHtmlComposites/package.json
  samples/StaticHtmlComposites/playwright.config.ts
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#664 Fix local video icon + avatar not showing
  change/@internal-react-components-dd3e72cd-52d3-4b81-9ab4-a92d20a76ad5.json
  change/@internal-react-composites-de9b71a4-01f7-4c1a-9d3c-f3d7f488fa59.json
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-composites/src/composites/CallComposite/LocalPreview.tsx
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#658 Refactor to apply rtl only within scope.
  change/@internal-react-components-f11385bd-f6f4-4b2a-a85a-958b0efaff06.json
  change/@internal-react-composites-964cb03d-49aa-4704-bfb0-d751b88a2c57.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ControlBar.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-components/src/theming/FluentThemeProvider.tsx
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Call.tsx
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/storybook/.storybook/preview.tsx
  packages/storybook/stories/CallComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/CallComposite/__snapshots__/CustomDataModelExample.stories.storyshot
  packages/storybook/stories/CallComposite/__snapshots__/JoinExistingCall.stories.storyshot
  packages/storybook/stories/CallComposite/__snapshots__/ThemeExample.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/CustomBehavior.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/CustomDataModelExample.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/JoinExistingChatThread.stories.storyshot
  packages/storybook/stories/ChatComposite/__snapshots__/ThemesExample.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/ControlBarButton/__snapshots__/ControlBarButton.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/EndCall/__snapshots__/EndCall.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Microphone/__snapshots__/Microphone.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Options/__snapshots__/Options.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/Participants/__snapshots__/Participants.stories.storyshot
  packages/storybook/stories/ControlBar/Buttons/ScreenShare/__snapshots__/ScreenShare.stories.storyshot
  packages/storybook/stories/ControlBar/__snapshots__/ControlBar.stories.storyshot
  packages/storybook/stories/ErrorBar/__snapshots__/ErrorBar.stories.storyshot
  packages/storybook/stories/Examples/DevicesDropdown/__snapshots__/DeviceSettingsDropDown.stories.storyshot
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallModal.stories.storyshot
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/ComplianceBanner.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/Localization.stories.mdx
  packages/storybook/stories/MeetingComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/MeetingComposite/__snapshots__/JoinExample.stories.storyshot
  packages/storybook/stories/MessageStatusIndicator/__snapshots__/MessageStatusIndicator.stories.storyshot
  packages/storybook/stories/ParticipantItem/__snapshots__/ParticipantItem.stories.storyshot
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  packages/storybook/stories/TypingIndicator/__snapshots__/TypingIndicator.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
  packages/storybook/stories/snippets/localization/SetRTL.snippet.tsx
  packages/storybook/stories/snippets/localization/SetRTLForCanvas.snippet.tsx
  samples/Calling/src/app/theming/SwitchableFluentThemeProvider.tsx
  samples/Calling/src/app/views/CallScreen.tsx
  samples/Chat/src/app/theming/SwitchableFluentThemeProvider.tsx
Labels: breaking-change

#671 Add Call Composite Remove Participant
  change/@internal-calling-component-bindings-093579e8-d5d3-4f2b-afb3-5a7043ee3fac.json
  change/@internal-react-composites-52dd24f5-44e6-4530-957f-7cb20404d5d2.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/src/composites/CallComposite/CallControls.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
Labels: breaking-change

#601 Introduce modifiers for user-initiated state changes
  change/@internal-chat-component-bindings-0e746b09-7948-49f0-a076-0534bf67e9d9.json
  change/@internal-chat-stateful-client-311a20dd-14e5-4278-9782-1c1db9a85798.json
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/StatefulChatClient.ts
  packages/chat-stateful-client/src/index.ts
  packages/chat-stateful-client/src/modifiers/ClearErrors.ts
  packages/chat-stateful-client/src/modifiers/index.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#692 Icon theming fix
  change/@internal-react-components-541c0262-804e-4c84-b116-1b4732081eec.json
  change/@internal-react-composites-ce24dd79-917e-4ab9-bfff-a5e82bfb27c6.json
  packages/react-components/src/components/MessageStatusIndicator.tsx
  packages/react-components/src/components/styles/MessageStatusIndicator.styles.ts
  packages/react-composites/src/composites/CallComposite/LocalPreview.tsx
  packages/react-composites/src/composites/CallComposite/styles/LocalPreview.styles.ts
  packages/storybook/stories/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/storybook/stories/MessageStatusIndicator/__snapshots__/MessageStatusIndicator.stories.storyshot
  packages/storybook/stories/MessageStatusIndicator/snippets/AllDefaultIndicators.snippet.tsx
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#694 Generate snapshot in github action for composite
  .github/workflows/ci.yml
  .github/workflows/update-snapshot.yml
  change/@internal-react-composites-a9f62bf5-cb97-49ea-b39b-ae59c7d68893.json
  packages/react-composites/package.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/fixture.ts
  packages/react-composites/tests/browser/call/test.y4m
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-0-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-1-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/react-composites/tests/browser/utils.ts
Labels: ui change

#654 Fix show moderator
  change/@internal-chat-component-bindings-f8794ef0-feba-46ca-adda-e181e15270bc.json
  change/@internal-react-components-45f774f0-3f2a-413f-aec8-4f70b53b3582.json
  change/@internal-react-composites-78fa2f1c-3d4c-431a-a2d9-f303c5e24b55.json
  packages/chat-component-bindings/src/chatThreadSelector.ts
  packages/react-components/src/components/MessageThread.tsx
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-0-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-1-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-chromium-linux.png
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#686 Jinan/expose props to bundle
  packages/storybook/stories/NonReact/NonReactComposites.stories.mdx
  samples/StaticHtmlComposites/index.html
  samples/StaticHtmlComposites/src/callComposite.js
  samples/StaticHtmlComposites/src/chatComposite.js
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#674 Expose participant list props top level on the participant button. Provide onParicipantListRender override method.
  change/@internal-calling-component-bindings-a9696d07-e5ef-468e-b136-0276bd85a05f.json
  change/@internal-react-components-f5f699f7-40de-4298-8c33-462a026d9947.json
  change/@internal-react-composites-8836ea2b-7aa3-4a1f-84aa-fe42fcb5b215.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/participantsButtonSelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ParticipantsButton.test.tsx
  packages/react-components/src/components/ParticipantsButton.tsx
  packages/react-composites/src/composites/CallComposite/CallControls.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/Participants.stories.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/Default.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCallLink.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCustomRender.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCustomStyles.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithLabel.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithMuteAllOption.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithUserExcludeFromList.snippet.tsx
  packages/storybook/stories/ControlBar/ControlBar.stories.tsx
  packages/storybook/stories/ControlBar/snippets/AllButtonsControlBar.snippet.tsx
  packages/storybook/stories/ControlBar/snippets/ControlBarLayout.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change

#677 Custom Avatar Data Model Overhaul
  change/@internal-react-components-115aaf60-6787-4029-bb75-633da824bd8e.json
  change/@internal-react-composites-1bb514bd-cad4-4482-ad53-d99be755cea0.json
  common/config/rush/pnpm-lock.yaml
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/ParticipantItem.tsx
  packages/react-components/src/components/ParticipantList.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/index.ts
  packages/react-components/src/types/OnRender.ts
  packages/react-components/src/types/index.ts
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Call.tsx
  packages/react-composites/src/composites/CallComposite/CallScreen.tsx
  packages/react-composites/src/composites/CallComposite/MediaGallery.tsx
  packages/react-composites/src/composites/CallComposite/ScreenShare.tsx
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/common/AvatarPersona.tsx
  packages/react-composites/src/composites/index.ts
  packages/react-composites/src/index.ts
  packages/storybook/package.json
  packages/storybook/stories/CallComposite/CallCompositeDocs.tsx
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/CallComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCustomRender.snippet.tsx
  packages/storybook/stories/CustomUserDataModel.stories.mdx
  packages/storybook/stories/Examples/Layouts/ScreenShareLayout.stories.tsx
  packages/storybook/stories/Examples/Layouts/snippets/ScreenShareLayout.snippet.tsx
  packages/storybook/stories/MessageThread/MessageThread.stories.tsx
  packages/storybook/stories/MessageThread/snippets/CustomAvatar.snippet.tsx
  packages/storybook/stories/ParticipantItem/ParticipantItem.stories.tsx
  packages/storybook/stories/VideoGallery/snippets/CustomAvatar.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
  samples/Chat/src/app/Avatar.tsx
  samples/Chat/src/app/ChatArea.tsx
  samples/Chat/src/app/SidePanel.tsx
Labels: breaking-change

#707 Custom avatar e2e test fixes
  change/@internal-react-composites-f36a54da-27f5-4187-bc7a-1c31d84661c4.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-participants-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-chromium.png
  packages/react-composites/tests/browser/chat/app/index.tsx
Labels: ui change

#683 Report errors from CallAdapter
  change/@internal-react-composites-54a956aa-bc38-47ec-87da-9bfdb1c9760b.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/index.ts
  packages/react-composites/src/composites/CallComposite/hooks/useAdaptedSelector.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-participants-chromium.png
Labels: breaking-change, ui change

#703 Rename ChatErrorTarget
  change/@internal-chat-component-bindings-3ac12ab0-d2bf-48f6-aaae-2e2daf4db365.json
  change/@internal-chat-stateful-client-e2c0e77f-65dd-4bd7-b237-7df9c71f1e06.json
  packages/chat-component-bindings/src/errorBarSelector.ts
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatClientState.ts
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/TypeAssertions.ts
  packages/chat-stateful-client/src/index.ts
  packages/chat-stateful-client/src/iterators/createDecoratedIterator.ts
  packages/chat-stateful-client/src/modifiers/ClearErrors.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#709 Jinan/participant list test fix
  change/@internal-react-composites-7b9723ae-7705-4731-b681-8c0a1c7824de.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-participants-chromium.png
Labels: ui change

#685 Add API to clear errors from CallClientState
  change/@internal-calling-stateful-client-052bd908-5db8-4557-9d41-94708e9f3a05.json
  change/@internal-chat-component-bindings-680da1e8-280f-47de-b838-99301b51f28b.json
  change/@internal-chat-stateful-client-fd24758f-550d-4282-9d7f-251c59cf0d6a.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallContext.ts
  packages/calling-stateful-client/src/StateModification.test.ts
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/calling-stateful-client/src/index.ts
  packages/calling-stateful-client/src/modifiers/ClearErrors.ts
  packages/calling-stateful-client/src/modifiers/index.ts
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/modifiers/ClearErrors.ts
  packages/chat-stateful-client/src/modifiers/index.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#702 Use `ErrorBar` to show some errors in `CallComposite`
  change/@internal-calling-component-bindings-9c4fc7df-d7e2-4516-b261-e4a1fb71e7e1.json
  change/@internal-react-components-2a30ab0e-78fb-430d-851b-4b6250fc07fa.json
  change/@internal-react-composites-88e06f65-b48c-40a9-98c8-03cfebe489d0.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/baseSelectors.ts
  packages/calling-component-bindings/src/errorBarSelector.ts
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/calling-component-bindings/src/hooks/usePropsFor.ts
  packages/calling-component-bindings/src/index.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/localization/translated/ar_SA.json
  packages/react-components/src/localization/translated/de_DE.json
  packages/react-components/src/localization/translated/en_US.json
  packages/react-components/src/localization/translated/fr_FR.json
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallScreen.tsx
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/hooks/useHandlers.ts
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change

#711 Remove `useLocale` and friend from API
  change/@internal-react-components-fd1b1e0f-f5fa-4457-812a-5303d6f02ad2.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/utils/Datetime.test.ts
  packages/react-components/src/components/utils/testUtils.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/locales/index.ts
  packages/react-components/src/locales/translated/ar_SA.json
  packages/react-components/src/locales/translated/de_DE.json
  packages/react-components/src/locales/translated/en_US.json
  packages/react-components/src/locales/translated/fr_FR.json
  packages/react-components/src/localization/LocalizationProvider.tsx
  packages/react-components/src/localization/index.ts
  packages/react-components/src/localization/locales.ts
  packages/storybook/.storybook/preview.tsx
Labels: breaking-change

#738 Active Speaker Indicator
  change/@internal-react-components-f8ba5161-bf04-4f70-bf7a-bdaa1ddea320.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/components/styles/VideoTile.styles.ts
  packages/storybook/stories/VideoTile/VideoTile.stories.tsx
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change

#721 Rename chat options to `ChatCompositeVisualElements`
  change/@internal-react-composites-26889148-fe70-45e0-be38-4ffb54587cd8.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomizeBehavior.snippet.tsx
  packages/storybook/stories/ErrorBar/ErrorBar.stories.tsx
  samples/Chat/src/app/ChatScreen.tsx
  samples/StaticHtmlComposites/index.html
Labels: breaking-change
