Repository Azure/communication-ui-library, pull requests merged in 2021-09, with the labels that each got.

#722 Add feature flag to show `ErrorBar` in composites
  change/@internal-react-composites-82b253c2-257b-4b27-8a23-5fdcf635fead.json
  change/@internal-storybook-cc12d3b1-ded2-4941-9f81-e4c61285ad17.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Call.tsx
  packages/react-composites/src/composites/CallComposite/CallScreen.tsx
  packages/react-composites/src/composites/CallComposite/index.ts
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/storybook/stories/CallComposite/BasicExample.stories.tsx
  packages/storybook/stories/CallComposite/JoinExistingCall.stories.tsx
  packages/storybook/stories/CallComposite/ThemeExample.stories.tsx
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/BasicExample.stories.tsx
  packages/storybook/stories/ChatComposite/CustomBehaviorExampleContainer.tsx
  packages/storybook/stories/ChatComposite/JoinExistingChatThread.stories.tsx
  packages/storybook/stories/ChatComposite/ThemesExample.stories.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomizeBehavior.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
  samples/Calling/src/app/views/CallScreen.tsx
Labels: breaking-change

#678 Add initial meeting adapter interface. Restructure CallAdapter and ChatAdapter interfaces.
  change/@internal-react-composites-c373af03-4f37-44e0-873d-d0120f33842b.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/index.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/index.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingState.ts
  packages/react-composites/src/composites/common/adapters.ts
  packages/react-composites/src/composites/index.ts
Labels: breaking-change

#746 Alcail/fix sharing name
  change/@internal-react-components-78adaca9-38ad-4b17-aeea-c91b696ed812.json
  change/@internal-react-composites-f608ef50-6082-4695-be8a-270a3abcd932.json
  change/@internal-storybook-428993d1-fab6-42d4-b1dd-87678c186a24.json
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/components/styles/VideoTile.styles.ts
  packages/react-composites/src/composites/CallComposite/ScreenShare.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-enabled-chromium.png
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
Labels: ui change

#748 Active and Dominant Speaker tweaks.
  change/@internal-calling-component-bindings-cf9839e5-40c4-4930-bb76-3f4692163708.json
  change/@internal-react-components-a207e2f1-6087-4d3d-8b22-61a96511012d.json
  change/@internal-react-composites-89d8034a-3d78-47a1-9100-5aa5dc52cf74.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/videoGallerySelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/types/Call.ts
  packages/react-components/src/types/index.ts
  packages/react-composites/src/composites/CallComposite/ScreenShare.tsx
  packages/react-composites/tests/browser/call/fixture.ts
Labels: breaking-change

#739 Localized strings in call and chat composites
  change/@internal-react-composites-687f5566-20d7-4be6-9d89-07f9a5e33a26.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/ConfigurationScreen.tsx
  packages/react-composites/src/composites/CallComposite/DisplayNameField.tsx
  packages/react-composites/src/composites/CallComposite/LocalDeviceSettings.tsx
  packages/react-composites/src/composites/CallComposite/StartCallButton.tsx
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/localization/LocalizationProvider.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
Labels: breaking-change

#753 Add timestamps to saved errors
  change/@internal-calling-component-bindings-fb67b578-0495-4f6c-a3b3-c080787b0760.json
  change/@internal-calling-stateful-client-a0ca1022-b7de-4ccb-8027-4c58128db6fc.json
  change/@internal-chat-component-bindings-951c4ed2-f313-4efa-ab77-a038c490308e.json
  change/@internal-chat-stateful-client-b3734621-d5e8-48a2-bec0-3268a828b99c.json
  change/@internal-react-components-f13b023a-d064-4d43-9840-234c65562c95.json
  change/@internal-storybook-be949fe9-cdc9-4a9d-8ebe-a883690b6184.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/errorBarSelector.ts
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallContext.ts
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/errorBarSelector.ts
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatClientState.ts
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/StatefulChatClient.test.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/components/index.ts
  packages/storybook/stories/ErrorBar/ErrorBar.stories.tsx
Labels: breaking-change, ui change

#754 Track dismissed errors internally in `ErrorBar`
  change/@internal-react-components-b02ac82d-6ad4-4108-a3eb-7ce46e8cc3a9.json
  change/@internal-react-composites-5233ac8c-4b01-47ce-b207-1a07f53091ac.json
  change/@internal-storybook-9290dc4d-860b-472a-9491-31a375123131.json
  common/config/rush/pnpm-lock.yaml
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.test.tsx
  packages/react-components/src/components/ErrorBar.tsx
  packages/storybook/stories/ErrorBar/__snapshots__/ErrorBar.stories.storyshot
Labels: breaking-change, ui change

#756 Delete API to clear stateful errors
  change/@internal-calling-component-bindings-c25759f8-1282-4809-9ed0-5ba62ebab11b.json
  change/@internal-chat-component-bindings-9b943b23-e1d7-41ca-8e54-a270689687c8.json
  change/@internal-react-components-100e45f4-d7da-4531-8ca6-186bea03448f.json
  change/@internal-react-composites-ee746858-d112-4e27-be5e-fa6680fb9c71.json
  change/@internal-storybook-1d45ef91-2d02-47f2-99bb-868e3ad89027.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.test.tsx
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/hooks/useHandlers.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.test.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/hooks/useHandlers.ts
  packages/react-composites/src/composites/common/adapters.ts
  packages/react-composites/src/composites/index.ts
  packages/storybook/stories/ErrorBar/ErrorBar.stories.tsx
  packages/storybook/stories/ErrorBar/__snapshots__/ErrorBar.stories.storyshot
Labels: breaking-change, ui change

#758 Alkwa/update calling 1.2.1 beta.1
  change/@internal-calling-component-bindings-5790e2c3-8a77-4607-b068-59e3584601fd.json
  change/@internal-calling-stateful-client-51cbbeeb-d3f2-4a59-ba4f-3ed014d44447.json
  change/@internal-react-composites-cfc46bbf-be09-4969-9362-f3e22a2b1d62.json
  change/@internal-storybook-e78ad550-9c2f-4722-be8a-ad30c4f2a768.json
  common/config/rush/pnpm-lock.yaml
  packages/calling-component-bindings/package.json
  packages/calling-stateful-client/package.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/communication-react/package.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/package.json
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/storybook/package.json
  samples/Calling/package.json
Labels: breaking-change

#757 Tweaking custom icon implementation + Minor Bugfix
  change/@internal-react-components-a0e67ea8-946a-40ad-808c-913dcb6f28b6.json
  change/@internal-react-composites-b7e3989b-cd92-46b9-bc59-04437bb56dcb.json
  change/@internal-storybook-1efba6ab-80e8-442b-a340-b859f43efb9d.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/Call.tsx
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/common/Composite.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
Labels: breaking-change, ui change

#749 Plumb through diagnostics to show error bar for bad network quality in call
  change/@internal-calling-component-bindings-8958a375-b335-463f-b5e4-7ad8274ef698.json
  change/@internal-calling-stateful-client-949f7321-03de-4054-8e6e-7087d1db58ac.json
  change/@internal-react-components-c068ecce-61a7-44b9-a165-3522556c7adc.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/baseSelectors.ts
  packages/calling-component-bindings/src/errorBarSelector.ts
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallAgentDeclarative.test.ts
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallDeclarative.test.ts
  packages/calling-stateful-client/src/CallSubscriber.ts
  packages/calling-stateful-client/src/Converter.ts
  packages/calling-stateful-client/src/DiagnosticsSubscriber.ts
  packages/calling-stateful-client/src/StatefulCallClient.test.ts
  packages/calling-stateful-client/src/StreamUtils.test.ts
  packages/calling-stateful-client/src/TestUtils.ts
  packages/calling-stateful-client/src/index.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
Labels: breaking-change

#761 Strongly type errors from adapters
  change/@internal-react-composites-fd451fd1-2cca-4264-92ef-e597effabb14.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/index.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.test.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/src/composites/common/adapters.ts
  packages/react-composites/src/composites/index.ts
Labels: breaking-change

#679 Add initial meeting state interface
  change/@internal-react-composites-69786e4c-24db-47db-9519-40967fa39326.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/index.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingAdapterState.ts
  packages/react-composites/src/composites/common/adapters.ts
Labels: breaking-change

#695 Create stub `AzureCommunicationMeetingAdapter`
  change/@internal-react-composites-411ae060-4a54-463f-9216-fc75f7854f2b.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
Labels: breaking-change

#767 Alcail/a11y bugs on ParticipantList being inaccessible through keyboard
  change/@internal-react-components-e026534b-29c5-4617-a9c5-a601689ad3df.json
  change/@internal-react-composites-23b4727b-027a-4eb9-a6d9-9ab2817d3897.json
  change/@internal-storybook-96d5c65f-0ef6-4eec-80d9-8e8484039f7b.json
  packages/react-components/src/components/ParticipantItem.tsx
  packages/react-components/src/components/ParticipantList.tsx
  packages/react-components/src/components/styles/ParticipantItem.styles.ts
  packages/react-components/src/components/styles/ParticipantList.styles.ts
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-0-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-1-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-chromium-linux.png
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/ParticipantItem/ParticipantItem.stories.tsx
  packages/storybook/stories/ParticipantItem/__snapshots__/ParticipantItem.stories.storyshot
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#772 Refactor meeting state interfaces into separate files
  change/@internal-react-composites-7b669864-75f8-45a5-bec4-1a00f805a528.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/index.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingAdapterState.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingCompositePage.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingEndReason.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingParticipants.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingState.ts
Labels: breaking-change

#776 Adjust api comments - iteration 2
  change/@internal-calling-component-bindings-87f34ff2-4e00-46be-bb9e-b5a390ed37bd.json
  change/@internal-react-components-34e8bff3-de82-407b-ab51-6e557dade3f5.json
  change/@internal-react-composites-84dcb2dd-8d94-4d40-b38b-6c787baaad0c.json
  change/@internal-storybook-ad087403-8513-4ce5-87e4-313bfc831aec.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/mergedHooks.ts
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/index.ts
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/index.ts
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/storybook/stories/MessageThread/snippets/CustomMessages.snippet.tsx
Labels: breaking-change

#774 Manually fix storybook package version
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/storybook/package.json
Labels: ui change

#782 Drop state modification API for stateful clients
  change/@internal-calling-stateful-client-76ea48e7-ecd5-482d-ac1c-83e75e96cc3f.json
  change/@internal-chat-stateful-client-cabb0610-a805-4016-9c93-21915d87b7cb.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/StateModification.test.ts
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/calling-stateful-client/src/index.ts
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/StateModification.test.ts
  packages/chat-stateful-client/src/StatefulChatClient.ts
  packages/chat-stateful-client/src/index.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#765 Feature toggle for UI elements in Call and Chat Composite
  change/@internal-react-composites-71ce8e36-4c9d-4135-a0d9-7964599fb610.json
  change/@internal-storybook-48572da5-810c-4da4-a99b-d5d229c28217.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/CallScreen.tsx
  packages/react-composites/src/composites/CallComposite/index.ts
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/SidePane.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/storybook/stories/CallComposite/BasicExample.stories.tsx
  packages/storybook/stories/CallComposite/JoinExistingCall.stories.tsx
  packages/storybook/stories/CallComposite/ThemeExample.stories.tsx
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/BasicExample.stories.tsx
  packages/storybook/stories/ChatComposite/JoinExistingChatThread.stories.tsx
  packages/storybook/stories/ChatComposite/ThemesExample.stories.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomizeBehavior.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
  samples/Calling/src/app/App.tsx
  samples/Calling/src/app/views/CallScreen.tsx
  samples/Chat/src/app/ChatHeader.tsx
  samples/Chat/src/app/ChatScreen.tsx
  samples/Chat/src/app/styles/ChatHeader.styles.ts
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: breaking-change, ui change

#781 Do not automatically clear errors from client state
  change/@internal-calling-stateful-client-8ec92baa-4907-4d9c-a4b8-751bd0546487.json
  change/@internal-chat-stateful-client-8b41b535-844b-46cf-ab11-bfc8a86ede45.json
  packages/calling-stateful-client/src/CallContext.ts
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/StatefulChatClient.test.ts
  packages/chat-stateful-client/src/StatefulChatClient.ts
  packages/chat-stateful-client/src/iterators/createDecoratedIterator.ts
Labels: ui change

#791 Add package documentation
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
Labels: breaking-change

#801 Try fix flakey video rendering results - wait for video ready state
  change/@internal-react-composites-6626f18d-d45f-4bd7-9a8c-7d643c52e120.json
  packages/react-composites/package.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/utils.ts
Labels: ui change

#799 Fix chat messages all being bold
  change/@internal-react-components-a60edaca-2046-4b27-b31c-3d12da556481.json
  change/@internal-react-composites-7fc3427d-08e1-470a-982d-45f3fd5afc0b.json
  change/@internal-storybook-f0479c7f-cea6-450d-8a7a-a1b928425bb5.json
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/styles/ChatMessageComponent.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/ParticipantItem/__snapshots__/ParticipantItem.stories.storyshot
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#807 [Cherry pick to beta release] Fix chat messages all being bold
  change/@internal-react-components-a488974b-c8a2-4b8d-8a72-4d67d02f6326.json
  change/@internal-react-components-a60edaca-2046-4b27-b31c-3d12da556481.json
  change/@internal-react-composites-4a94d894-b9ca-494c-a98b-68c64d2a0adb.json
  change/@internal-react-composites-6626f18d-d45f-4bd7-9a8c-7d643c52e120.json
  change/@internal-react-composites-7fc3427d-08e1-470a-982d-45f3fd5afc0b.json
  change/@internal-storybook-930b1f99-cc62-4a91-b836-21c5530c486c.json
  change/@internal-storybook-f0479c7f-cea6-450d-8a7a-a1b928425bb5.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/components/styles/ChatMessageComponent.styles.ts
  packages/react-components/src/identifiers/IdentifierProvider.tsx
  packages/react-composites/package.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/app/public/index.html
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/config.ts
  packages/storybook/stories/ChatComposite/CustomBehaviorExampleContainer.tsx
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/OneToOneCallLayout.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/MessageThread/MessageThread.stories.tsx
  packages/storybook/stories/ParticipantItem/__snapshots__/ParticipantItem.stories.storyshot
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#759 Add message edited tags to edited messages
  change/@internal-chat-component-bindings-74049429-7241-40c5-a503-1cd512f06314.json
  change/@internal-react-components-57234482-121c-443a-a618-b2f782d7fa8a.json
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/styles/ChatMessageComponent.styles.ts
  packages/react-components/src/types/ChatMessage.ts
Labels: breaking-change

#789 Fix ControlBarButton label
  change/@internal-react-components-72b3bca9-2a7d-497c-8d39-617bf1bae8b3.json
  change/@internal-react-composites-7c1614bf-ee32-4f62-bc78-2ba07a5aa3a9.json
  change/@internal-storybook-0d0edd66-580f-4651-8223-6324ced73c88.json
  packages/react-components/src/components/ControlBarButton.tsx
  packages/react-components/src/components/styles/ControlBar.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/storybook/stories/ControlBar/ControlBar.stories.tsx
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#800 Update Feature Toggle API to match Azure Review Feedback
  change/@internal-react-components-b7490699-acd9-4bb3-91a1-86788782aec9.json
  change/@internal-react-composites-93f823de-fb23-4096-aa20-ffb9254e29e3.json
  change/@internal-storybook-43b93521-661a-410a-89b8-0c307d38ef44.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/src/components/MessageThread.tsx
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/CallComposite/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/CallScreen.tsx
  packages/react-composites/src/composites/CallComposite/index.ts
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/SidePane.tsx
  packages/storybook/stories/CallComposite/BasicExample.stories.tsx
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/BasicExample.stories.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
  samples/Chat/src/app/ChatScreen.tsx
Labels: breaking-change

#700 Use Meeting adapter in the meeting composite
  change/@internal-react-composites-0e040b94-a5ff-40e0-864c-5d5a9d8810a9.json
  change/@internal-storybook-fefd4347-a47f-4afc-b687-62e73275e686.json
  common/config/api-extractor/api-extractor.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedCallAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedChatAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/index.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingAdapterState.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingParticipants.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingState.ts
  packages/storybook/stories/MeetingComposite/MeetingCompositeDocs.tsx
  packages/storybook/stories/MeetingComposite/snippets/Meeting.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change

#798 Fix hidden check for `isTeamCall` - move into public api
  change/@internal-react-composites-e9bc49e3-7a12-46aa-951b-85b370427769.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallScreen.tsx
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedCallAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingAdapterState.ts
Labels: breaking-change

#797 Support editing and deleting chat messages in meeting adapter
  change/@internal-react-composites-c319f60f-16a9-472b-b0f6-b995a7902137.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingBackedChatAdapter.ts
Labels: breaking-change

#806 Updated styles to ensure zooming in at 400%
  change/@internal-react-components-1da567d6-4a38-482c-a912-f3ce09e82f61.json
  change/@internal-react-composites-68cd8adc-ff75-4e14-91cf-11bbedd7f01d.json
  change/@internal-storybook-cf84f9a8-221c-4d09-925b-f8a94285962c.json
  packages/react-components/src/components/styles/ControlBar.styles.ts
  packages/react-composites/src/composites/CallComposite/CallScreen.tsx
  packages/react-composites/src/composites/CallComposite/ConfigurationScreen.tsx
  packages/react-composites/src/composites/CallComposite/MediaGallery.tsx
  packages/react-composites/src/composites/CallComposite/styles/CallConfiguration.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/CallScreen.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/LocalDeviceSettings.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/LocalPreview.styles.ts
  packages/react-composites/src/composites/CallComposite/styles/StartCallButton.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-enabled-chromium.png
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/Examples/Layouts/__snapshots__/ScreenShareLayout.stories.storyshot
  samples/Calling/src/app/styles/EndCall.styles.ts
  samples/Calling/src/app/styles/HomeScreen.styles.ts
  samples/Calling/src/app/views/CallError.tsx
  samples/Calling/src/app/views/EndCall.tsx
  samples/Calling/src/app/views/HomeScreen.tsx
  samples/StaticHtmlComposites/index.html
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-win32.png
Labels: ui change

#812 Browser localization tests
  change/@internal-react-composites-06e8ba57-2f79-4cc5-bfae-a0a4cab1e6ea.json
  packages/react-composites/tests/browser/call/Localization.test.ts
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-chromium.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-chromium.png
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/chat/Localization.test.ts
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-chromium-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-chromium-win32.png
  packages/react-composites/tests/browser/chat/app/index.tsx
Labels: ui change

#819 Fix flakey localization UI test
  change/@internal-react-composites-4a7f9c75-696c-402c-aa09-df45ea637bfa.json
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/Localization.test.ts
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-chromium.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-chromium.png
  packages/react-composites/tests/browser/chat/Localization.test.ts
  packages/react-composites/tests/browser/utils.ts
Labels: ui change

#792 More meeting composite UI tests
  change/@internal-react-composites-e6a91f6b-f092-40ad-a3ab-11633feb994a.json
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/SidePane.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-basic-gallery-screen-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-chat-pane-has-messages-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-people-pane-has-participants-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-pre-join-screen-chromium.png
Labels: ui change

#822 Add `mobileView` flag to the meeting and call composite interfaces
  change/@internal-react-composites-fd929270-2919-4ce5-b785-caf7fad1dfc5.json
  change/@internal-storybook-11bf131e-3a29-474a-b8c4-3e5ae2ea2081.json
  common/config/rush/pnpm-lock.yaml
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/CallComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/storybook/stories/CallComposite/BasicExample.stories.tsx
  packages/storybook/stories/CallComposite/CustomDataModelExample.stories.tsx
  packages/storybook/stories/CallComposite/JoinExistingCall.stories.tsx
  packages/storybook/stories/CallComposite/ThemeExample.stories.tsx
  packages/storybook/stories/controlsUtils.ts
  samples/Calling/package.json
  samples/Calling/src/app/views/CallScreen.tsx
Labels: breaking-change

#817 Undo styling to body tag from FluentThemeProvider
  change/@internal-react-components-6a9ef7d3-02d5-4af1-9a18-068e78246ecf.json
  change/@internal-react-composites-072c9c42-21c0-4d23-96e6-c9e5de4b5691.json
  packages/react-components/src/theming/FluentThemeProvider.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/camera-toggled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-0-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-call-screen-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-disabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-local-device-settings-camera-enabled-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-participants-chromium.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/page-1-video-gallery-chromium.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-chromium.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-0-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-1-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-chromium-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-people-pane-has-participants-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/page-0-meeting-screen-chromium.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/page-1-meeting-screen-chromium.png
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#809 Edit/Delete message localization
  change/@internal-react-components-db951d2a-5d93-4313-be20-e2336392957b.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessageComponent.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
Labels: breaking-change

#816 Bump chat sdk to version 1.1.0
  change/@internal-chat-component-bindings-13798483-3312-4be8-8394-15ccfb48c49d.json
  change/@internal-chat-stateful-client-4844dd4e-3772-4e0a-9b7b-b94bb654f089.json
  change/@internal-react-composites-6fccbb9e-aa48-4f5d-8aca-0b4bcd5d1049.json
  change/@internal-storybook-22c461d1-fc2e-40f2-9598-d686a514b391.json
  common/config/rush/pnpm-lock.yaml
  packages/chat-component-bindings/package.json
  packages/chat-stateful-client/package.json
  packages/chat-stateful-client/src/EventSubscriber.ts
  packages/communication-react/package.json
  packages/react-composites/package.json
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/storybook/package.json
  samples/Chat/package.json
  samples/Server/package.json
  samples/StaticHtmlComposites/package.json
Labels: ui change

#832 Fix feature type names to conform to naming conventions
  change/@internal-calling-stateful-client-d6b93c5f-dc99-4c22-8e75-64c929adf7f2.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/index.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#823 Document public API for acs-ui-common
  change/@internal-acs-ui-common-d78993bc-9660-4e9a-9fc3-704c830fdc19.json
  change/@internal-chat-stateful-client-0339e4ff-f2f2-4d18-8b3e-b832fb620096.json
  common/config/rush/pnpm-lock.yaml
  packages/acs-ui-common/.eslintrc.js
  packages/acs-ui-common/package.json
  packages/acs-ui-common/review/acs-ui-common.api.md
  packages/acs-ui-common/src/MessageStatus.ts
  packages/acs-ui-common/src/areEqual.ts
  packages/acs-ui-common/src/commonProperties.ts
  packages/acs-ui-common/src/identifier.ts
  packages/acs-ui-common/src/index.ts
  packages/acs-ui-common/src/memoizeFnAll.ts
  packages/acs-ui-common/src/telemetry.test.ts
  packages/acs-ui-common/src/telemetry.ts
  packages/chat-stateful-client/src/StatefulChatClient.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#829 Make ControlBarButton styling API consistent
  change/@internal-react-components-2b47922c-299c-42e4-b47a-3401d66e538e.json
  change/@internal-storybook-145af530-eac0-45a2-b44a-73895cfdccdd.json
  common/config/rush/pnpm-lock.yaml
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ControlBarButton.tsx
  packages/react-components/src/components/ParticipantsButton.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/index.ts
  packages/react-components/src/types/CustomStylesProps.ts
  packages/storybook/stories/ControlBar/Buttons/Participants/snippets/WithCustomStyles.snippet.tsx
Labels: breaking-change

#836 Touchdown update 2
  .github/workflows/run-td-build.yml
  .github/workflows/update-td-build.yml
  change/@internal-react-components-82b3e966-37ea-4ec7-b510-6f8c975ce89c.json
  change/@internal-react-composites-1e1b3188-a993-49b2-9b59-d5784000d44d.json
  packages/react-components/src/localization/locales/de-DE/strings.json
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/es-ES/strings.json
  packages/react-components/src/localization/locales/fr-FR/strings.json
  packages/react-components/src/localization/locales/it-IT/strings.json
  packages/react-components/src/localization/locales/ja-JP/strings.json
  packages/react-components/src/localization/locales/ko-KR/strings.json
  packages/react-components/src/localization/locales/nl-NL/strings.json
  packages/react-components/src/localization/locales/pt-BR/strings.json
  packages/react-components/src/localization/locales/ru-RU/strings.json
  packages/react-components/src/localization/locales/tr-TR/strings.json
  packages/react-components/src/localization/locales/zh-CN/strings.json
  packages/react-components/src/localization/locales/zh-TW/strings.json
  packages/react-composites/src/composites/localization/locales/de-DE/strings.json
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/es-ES/strings.json
  packages/react-composites/src/composites/localization/locales/fr-FR/strings.json
  packages/react-composites/src/composites/localization/locales/it-IT/strings.json
  packages/react-composites/src/composites/localization/locales/ja-JP/strings.json
  packages/react-composites/src/composites/localization/locales/ko-KR/strings.json
  packages/react-composites/src/composites/localization/locales/nl-NL/strings.json
  packages/react-composites/src/composites/localization/locales/pt-BR/strings.json
  packages/react-composites/src/composites/localization/locales/ru-RU/strings.json
  packages/react-composites/src/composites/localization/locales/tr-TR/strings.json
  packages/react-composites/src/composites/localization/locales/zh-CN/strings.json
  packages/react-composites/src/composites/localization/locales/zh-TW/strings.json
Labels: ui change

#811 Document public API for calling stateful and bindings
  change/@internal-calling-component-bindings-ec81424a-20ab-4b49-8c3d-e021104d1aba.json
  change/@internal-calling-stateful-client-b3435061-835c-4cce-8a32-1757b2402cfc.json
  common/config/api-extractor/api-extractor.json
  common/config/rush/pnpm-lock.yaml
  packages/calling-component-bindings/.eslintrc.js
  packages/calling-component-bindings/package.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/baseSelectors.ts
  packages/calling-component-bindings/src/callControlSelectors.ts
  packages/calling-component-bindings/src/errorBarSelector.ts
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/calling-component-bindings/src/hooks/useHandlers.ts
  packages/calling-component-bindings/src/hooks/usePropsFor.ts
  packages/calling-component-bindings/src/hooks/useSelector.ts
  packages/calling-component-bindings/src/index.ts
  packages/calling-component-bindings/src/participantListSelector.ts
  packages/calling-component-bindings/src/participantsButtonSelector.ts
  packages/calling-component-bindings/src/providers/CallAgentProvider.tsx
  packages/calling-component-bindings/src/providers/CallClientProvider.tsx
  packages/calling-component-bindings/src/providers/CallProvider.tsx
  packages/calling-component-bindings/src/videoGallerySelector.ts
  packages/calling-stateful-client/.eslintrc.js
  packages/calling-stateful-client/package.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallContext.ts
  packages/calling-stateful-client/src/CallDeclarative.ts
  packages/calling-stateful-client/src/Converter.ts
  packages/calling-stateful-client/src/DeviceManagerDeclarative.ts
  packages/calling-stateful-client/src/DiagnosticsSubscriber.ts
  packages/calling-stateful-client/src/RecordingSubscriber.ts
  packages/calling-stateful-client/src/RemoteVideoStreamSubscriber.ts
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/calling-stateful-client/src/StreamUtils.ts
  packages/calling-stateful-client/src/TestUtils.ts
  packages/calling-stateful-client/src/TranscriptionSubscriber.ts
  packages/calling-stateful-client/src/TransferCallFeatureDeclarative.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#841 Stateful chat tsdoc
  change/@internal-chat-stateful-client-72b00fd9-7876-43f6-a24b-f0b115cc872b.json
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatClientState.ts
  packages/chat-stateful-client/src/StatefulChatClient.ts
  packages/communication-react/review/communication-react.api.md
Labels: breaking-change

#846 Document public API for @internal/chat-stateful-client, @internal/chat-component-bindings, @azure/communication-react
  change/@internal-chat-component-bindings-aa4f2dec-c00f-44be-b252-5ddda4449c53.json
  change/@internal-chat-stateful-client-7ad1e695-b057-4fd9-924d-db12e052a1f1.json
  common/config/api-extractor/api-extractor.json
  common/config/rush/pnpm-lock.yaml
  packages/chat-component-bindings/.eslintrc.js
  packages/chat-component-bindings/package.json
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/baseSelectors.ts
  packages/chat-component-bindings/src/chatParticipantListSelector.ts
  packages/chat-component-bindings/src/errorBarSelector.ts
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/chat-component-bindings/src/hooks/useHandlers.ts
  packages/chat-component-bindings/src/hooks/usePropsFor.ts
  packages/chat-component-bindings/src/hooks/useSelector.ts
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/chat-component-bindings/src/providers/ChatClientProvider.tsx
  packages/chat-component-bindings/src/providers/ChatThreadClientProvider.tsx
  packages/chat-component-bindings/src/sendBoxSelector.ts
  packages/chat-component-bindings/src/typingIndicatorSelector.ts
  packages/chat-component-bindings/src/utils/compareMessages.ts
  packages/chat-component-bindings/src/utils/constants.ts
  packages/chat-component-bindings/src/utils/memoizeFnAll.ts
  packages/chat-stateful-client/.eslintrc.js
  packages/chat-stateful-client/package.json
  packages/chat-stateful-client/review/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatClientState.ts
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/Constants.ts
  packages/chat-stateful-client/src/EventSubscriber.ts
  packages/chat-stateful-client/src/StatefulChatClient.ts
  packages/chat-stateful-client/src/StatefulChatThreadClient.ts
  packages/chat-stateful-client/src/TestHelpers.ts
  packages/chat-stateful-client/src/convertChatMessage.ts
  packages/chat-stateful-client/src/iterators/createDecoratedListMessages.ts
  packages/chat-stateful-client/src/iterators/createDecoratedListParticipants.ts
  packages/chat-stateful-client/src/iterators/createDecoratedListReadReceipts.ts
  packages/chat-stateful-client/src/iterators/createDecoratedListThreads.ts
  packages/chat-stateful-client/src/mocks/MockCommunicationUserCredential.ts
  packages/chat-stateful-client/src/mocks/createMockChatThreadClient.ts
  packages/chat-stateful-client/src/mocks/createMockIterator.ts
  packages/chat-stateful-client/src/modifiers/ClearErrors.ts
  packages/chat-stateful-client/src/modifiers/index.ts
  packages/chat-stateful-client/src/types/ChatMessageWithStatus.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/mergedHooks.ts
Labels: breaking-change

#835 Alcail/a11y bug chat sample zoom400
  change/@internal-react-composites-2c524824-2719-4d4f-94e7-130ca57ae14e.json
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/styles/Chat.styles.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-0-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/page-1-chat-screen-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/receive-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/send-message-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-chromium.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-chromium.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-chromium-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-chromium-linux.png
  samples/Chat/src/app/ConfigurationScreen.tsx
  samples/Chat/src/app/EndScreen.tsx
  samples/Chat/src/app/ErrorScreen.tsx
  samples/Chat/src/app/HomeScreen.tsx
  samples/Chat/src/app/styles/ChatHeader.styles.ts
  samples/Chat/src/app/styles/ChatScreen.styles.ts
  samples/Chat/src/app/styles/ConfigurationScreen.styles.ts
  samples/Chat/src/app/styles/EndChat.styles.ts
  samples/Chat/src/app/styles/HomeScreen.styles.ts
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
  samples/StaticHtmlComposites/tests/browser/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-win32.png
Labels: ui change

#853 Try fix Localization call test flakiness
  change/@internal-react-composites-c4b1dfc1-68f2-4494-8342-dc67eadf5bf2.json
  packages/react-composites/tests/browser/call/Localization.test.ts
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-chromium.png
Labels: ui change
