Repository Azure/communication-ui-library, pull requests merged in 2022-03, with the labels that each got.

#1561 [Web] Muted indicator - icon and text not vertically centered in div
  change/@internal-react-composites-4bce6cf1-8354-41d3-9685-2def9cb1c155.json
  packages/react-composites/src/composites/CallComposite/components/MutedNotification.tsx
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Mobile-Android-Portrait-linux.png
Labels: ui change

#1533 Typeguard icon usage in composites
  change/@internal-react-composites-ae891e88-012e-4744-b79a-9494ee9cef2b.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/.eslintrc.js
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/LocalDeviceSettings.tsx
  packages/react-composites/src/composites/CallComposite/components/LocalPreview.tsx
  packages/react-composites/src/composites/CallComposite/components/MutedNotification.tsx
  packages/react-composites/src/composites/CallComposite/components/NetworkReconnectTile.tsx
  packages/react-composites/src/composites/CallComposite/pages/LobbyPage.tsx
  packages/react-composites/src/composites/CallComposite/pages/NoticePage.tsx
  packages/react-composites/src/composites/CallWithChatComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedPeoplePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/MobilePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/NotificationIcon.tsx
  packages/react-composites/src/composites/CallWithChatComposite/PeopleButton.tsx
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/FileDownloadCards.tsx
  packages/react-composites/src/composites/ChatComposite/FileUploadCards.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileCard.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadButton.tsx
  packages/react-composites/src/composites/common/TypeAssertions.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/stable-review/react-composites.api.md
  packages/react-composites/tests/browser/call/app/index.tsx
Labels: breaking-change

#1553 [CallWithChat] e2e tests More menu on mobile Call Control UI
  change/@internal-react-composites-9b34f2d8-583a-4517-864f-81f0939582cb.json
  packages/react-composites/src/composites/CallWithChatComposite/MoreButton.tsx
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-new-selected-microphone-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-new-selected-speaker-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-microphone-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-microphone-select-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-speaker-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-speaker-select-Mobile-Android-Portrait-linux.png
Labels: ui change

#1552 Rename CallWithChatComposite adapter prop from `callWithChatAdapter` to `adapter`
  change/@internal-react-composites-8f5535ec-3db5-4103-914d-11f39678ae0a.json
  change/@internal-storybook-6e49b195-c0ac-4f21-853c-cdc953c35c57.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.test.tsx
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/tests/browser/callwithchat/app/index.tsx
  packages/storybook/stories/CallWithChatComposite/snippets/CallWithChat.snippet.tsx
  samples/CallWithChat/src/app/views/CallScreen.tsx
Labels: breaking-change

#1515 Mobile participant menu on CallWithChat
  change/@internal-react-components-846df3f2-5947-4126-8ffc-615f1d49f540.json
  change/@internal-react-composites-07cd85e1-7851-4829-b3a1-e48ab8e44847.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/Drawer/DrawerMenuItem.tsx
  packages/react-components/src/components/ParticipantItem.tsx
  packages/react-components/src/components/ParticipantList.tsx
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedPeoplePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/Strings.tsx
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1557 Compliance Banner Colour Update
  change/@internal-react-composites-d35c0135-d7f6-4b55-a505-beec7001a31c.json
  packages/react-composites/src/composites/CallComposite/components/ComplianceBanner.tsx
Labels: ui change

#1570 [Web] Control bar split buttons inner corner border squared off with button corners rounded evenly
  change/@internal-react-composites-9a1499e3-98e0-4ca2-8751-df8394af636e.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
Labels: ui change

#1554 Added changes to see file specific upload errors in the errorbar above Sendbox
  change/@internal-react-components-7d75bb36-4e69-4ff0-a7c2-19955184c1ba.json
  change/@internal-react-composites-1c279933-1871-47f9-a9ad-579ebca2587d.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileCardGroup.tsx
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  samples/tests/stable-snapshot/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStarted-chromium-linux.png
  samples/tests/stable-snapshot/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStopped-chromium-linux.png
Labels: breaking-change, ui change

#1569 Remove file upload button for beta release
  .github/workflows/ci.yml
  .github/workflows/update-api-files.yml
  .github/workflows/update-snapshot.yml
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1587 Cherry pick #1584 to release/1.1.1-beta.1
  change/@internal-react-components-ed1d03eb-97d5-45fc-8f54-6291a97cb7ec.json
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStarted-chromium-linux.png
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStopped-chromium-linux.png
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
  samples/tests/stable-snapshot/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1582 Fix styling when unread chat messages exceeds 9 (and remove ControlBarButtonBadgeIcon as a customizable icon)
  change/@internal-react-composites-9a25d301-f1a0-4bbe-a7e8-bfaf267c9172.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/NotificationIcon.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
Labels: breaking-change, ui change

#1578 [Filesharing] - Expire Upload Errors after 10 seconds OR when more file are uploaded.
  change/@internal-react-components-201058cf-ecf4-4956-8f78-8262d83a62ec.json
  change/@internal-react-composites-5d117019-957a-4813-8a28-2ce24853f380.json
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/SendBoxErrorBar.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.test.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
Labels: ui change

#1540 Added LocalAndRemotePIP to mobile EmbeddedPeoplePane in CallWithChat
  change/@internal-react-components-76ad1c55-41d3-401c-812d-50cb1a07b6fd.json
  change/@internal-react-composites-f556617f-045d-4b9b-9f8e-a360a8cd75e7.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/variants/stable/pnpm-lock.yaml
  packages/react-components/src/components/PictureInPictureInPicture/PictureInPictureInPicture.tsx
  packages/react-composites/package.json
  packages/react-composites/src/composites/CallComposite/components/LocalAndRemotePIP.tsx
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedPeoplePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/CallWithChatCompositeStyles.ts
  packages/react-composites/src/composites/CallWithChatComposite/styles/EmbeddedPeoplePane.styles.ts
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#1542 Add new Accessibility friendly local video tile
  change/@internal-react-components-480fd896-5034-4e18-8622-f1767c30093c.json
  change/@internal-react-composites-91832f5d-4b4a-4234-8697-cb4f423943d3.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/VideoGallery.styles.ts
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-new-selected-microphone-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-new-selected-speaker-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-microphone-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-microphone-select-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-speaker-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-speaker-select-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1579 Update Docs for Local Camera Switcher
  change/@internal-storybook-4b126c63-7f4b-4007-802d-1aed4e7ac337.json
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Desktop-Chrome-linux.png
  packages/storybook/stories/BetaBanners/BannerPalettes.ts
  packages/storybook/stories/BetaBanners/SingleLineBetaBanner.tsx
  packages/storybook/stories/BetaBanners/StorybookBanner.tsx
  packages/storybook/stories/CallWithChatComposite/BasicExample.stories.tsx
  packages/storybook/stories/CallWithChatComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/CallWithChatComposite/__snapshots__/JoinExample.stories.storyshot
  packages/storybook/stories/VideoGallery/VideoGallery.stories.tsx
Labels: ui change

#1589 [CallWithChat][Bug] Mobile Participants now extend all the way to the right hand side in mobile pane
  change/@internal-react-components-8b40a12e-a568-41b7-85f8-0021a25489f6.json
  change/@internal-react-composites-68cb0c3b-d3dc-49c3-81d5-14de3eb57b73.json
  packages/react-components/src/components/styles/ParticipantItem.styles.ts
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedPeoplePane.tsx
  packages/react-composites/src/composites/common/ParticipantContainer.tsx
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
Labels: ui change

#1581 [CallWithChat] Copy Invite Link margin added and sidepane cancel button border radius styled
  change/@internal-react-composites-c5073195-7de3-4387-a1e1-4c96dc741544.json
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedPeoplePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/SidePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/EmbeddedPeoplePane.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-speaker-screen-Mobile-Android-Portrait-linux.png
Labels: ui change

#1595 Added default implmenetation of file upload UI to SendBox
  change/@internal-react-components-d422e84c-24e7-4389-ba1f-3bf9f62313e2.json
  change/@internal-react-composites-66227eba-9d43-4ef3-a745-88982b43fc9c.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/variants/stable/pnpm-lock.yaml
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/package.json
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/FileCard.tsx
  packages/react-components/src/components/FileCardGroup.tsx
  packages/react-components/src/components/FileUploadCards.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/utils.ts
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
  packages/storybook/stories/GridLayout/__snapshots__/GridLayout.stories.storyshot
  packages/storybook/stories/MessageStatusIndicator/__snapshots__/MessageStatusIndicator.stories.storyshot
  packages/storybook/stories/ParticipantItem/__snapshots__/ParticipantItem.stories.storyshot
  packages/storybook/stories/ParticipantList/__snapshots__/ParticipantList.stories.storyshot
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  packages/storybook/stories/VideoGallery/__snapshots__/VideoGallery.stories.storyshot
  packages/storybook/stories/VideoTile/__snapshots__/VideoTile.stories.storyshot
Labels: breaking-change

#1604 Add tooltips to chat and people button
  change/@internal-react-composites-c2394a1c-41b7-4565-83ea-463a81eb42c4.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/PeopleButton.tsx
  packages/react-composites/src/composites/CallWithChatComposite/Strings.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
Labels: breaking-change

#1599 Side pane style updates
  change/@internal-react-composites-eb1df6ad-9ee7-43d3-ad01-83df7094ee9a.json
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedPeoplePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/SidePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/EmbeddedPeoplePane.styles.ts
  packages/react-composites/src/composites/common/ParticipantContainer.tsx
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/CallWithChatComposite/__snapshots__/JoinExample.stories.storyshot
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
Labels: ui change

#1593 Show error above sendbox if message is sent before all files are uploaded.
  change/@internal-react-components-4481f058-396f-41d6-ad86-ffc7bbd6989c.json
  change/@internal-react-composites-f9d90984-23de-4079-800f-a94d9770800a.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/FileUploadCards.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/SendBoxErrorBar.tsx
  packages/react-components/src/components/SendBoxErrors.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileCard.tsx
  packages/react-composites/src/composites/ChatComposite/selectors/fileUploadsSelector.ts
Labels: breaking-change

#1605 Add `useAzureCommunicationCallWithChatAdapter`
  change/@internal-react-composites-a06cd2c2-cdfc-4e84-beb0-a318c49c41d5.json
  change/@internal-storybook-c102ceb1-4852-4c61-8fb0-a04c49e1e0c9.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/adapter/AzureCommunicationCallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/index.ts
  packages/react-composites/src/composites/index.ts
  packages/react-composites/tests/browser/callwithchat/app/index.tsx
  packages/storybook/stories/CallWithChatComposite/snippets/CallWithChat.snippet.tsx
  samples/CallWithChat/src/app/views/CallScreen.tsx
Labels: breaking-change

#1616 Filesharing ARB feedback attribute/events naming updates
  change/@internal-react-composites-630b9978-ad5b-4549-a275-2e5dcaaf83f0.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileDownloadHandler.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
Labels: breaking-change

#1613 Add filesharing feature to CallWithChat Composite
  change/@internal-react-composites-c4d94f58-0530-462b-b937-0c68368a5798.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedChatPane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/adapter/AzureCommunicationCallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatBackedChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/FileUploadCards.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapterProvider.tsx
Labels: breaking-change

#1614 Narrator Reads mobile chat and More buttons
  change/@internal-react-components-88cf0df0-80da-4850-97cd-484c6bca2969.json
  change/@internal-react-composites-c42e2842-0d96-4926-b3fc-4a06560c7162.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/src/components/ControlBarButton.tsx
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/Strings.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/storybook/stories/ControlBar/Buttons/ControlBarButton/__snapshots__/ControlBarButton.stories.storyshot
Labels: breaking-change

#1618 Add `useAzureCommunicationCallAdapter` hook
  change/@internal-react-composites-3fc669c3-e935-4dda-b529-861a0c323938.json
  change/@internal-storybook-8d7daec6-755d-4020-a3cf-b007d1fd62c1.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/index.ts
  packages/react-composites/stable-review/react-composites.api.md
  packages/storybook/stories/Adapters/snippets/CallAdapterExample.snippet.tsx
  packages/storybook/stories/CallComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/CallComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeAdapter.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeComplete.snippet.tsx
  packages/storybook/stories/snippets/localization/LocalizedComposites.snippet.tsx
  samples/Calling/src/app/views/CallScreen.tsx
Labels: breaking-change

#1629 Fix flakey tooltip showing in ui tests
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/common/utils.ts
Labels: ui change

#1633 Fix flakey checkmark icon in ui test
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/common/testAppUtils.tsx
Labels: ui change

#1627 Add `useAzureCommunicationChatAdapter`
  change/@internal-react-composites-60ff34da-ad22-42b9-a26e-fa7ddcfbbc5b.json
  change/@internal-storybook-0c73a616-b3ef-45c2-b587-5c4cf7af0d4a.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/stable-review/react-composites.api.md
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/storybook/stories/Adapters/snippets/ChatAdapterExample.snippet.tsx
  packages/storybook/stories/ChatComposite/CustomBehaviorExampleContainer.tsx
  packages/storybook/stories/ChatComposite/snippets/Container.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomDataModelExampleContainer.snippet.tsx
  packages/storybook/stories/ChatComposite/snippets/CustomizeBehavior.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeAdapter.snippet.tsx
  packages/storybook/stories/QuickStarts/snippets/QuickstartCompositeComplete.snippet.tsx
  packages/storybook/stories/snippets/localization/LocalizedComposites.snippet.tsx
  samples/Chat/src/app/ChatScreen.tsx
Labels: breaking-change

#1628 Split button A11y fixes
  change/@internal-react-components-e8371f6c-4e87-497d-973f-ec2d0edc277d.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/components/ControlBarButton.tsx
  packages/react-components/src/components/MicrophoneButton.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/stable-review/react-components.api.md
Labels: breaking-change

#1606 Enhanced chat tooltips
  change/@internal-react-composites-75b72031-4930-4330-ad68-acc498ac79bf.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/src/composites/CallWithChatComposite/Strings.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/stable-review/react-composites.api.md
Labels: breaking-change

#1622 Initial UI tests for filesharing in chat composite
  change/@internal-acs-ui-common-b4fa108e-9585-4f15-9df6-380f9c70aeb6.json
  change/@internal-react-components-dfd490b8-84bc-430e-bf0f-e32b4877904a.json
  change/@internal-react-composites-6e8f5fc7-4f5f-4d5f-9a7b-52b753eadf0f.json
  packages/acs-ui-common/review/acs-ui-common.api.md
  packages/acs-ui-common/src/cssUtils.ts
  packages/acs-ui-common/src/index.ts
  packages/acs-ui-common/stable-review/acs-ui-common.api.md
  packages/react-components/src/components/FileCard.tsx
  packages/react-components/src/components/FileCardGroup.tsx
  packages/react-components/src/components/FileUploadCards.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/FileUploadCards.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-not-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-not-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/app/index.tsx
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/SendBox/__snapshots__/SendBox.stories.storyshot
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
Labels: ui change

#1617 Added PiPiP in Chat pane of CallWithChat composite (mobile view)
  change/@internal-react-composites-d8da4cf2-00e1-48b9-84d0-0e7dfcd0f453.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatPane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedChatPane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/MobilePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/ModalLocalAndRemotePIP.tsx
  packages/react-composites/src/composites/CallWithChatComposite/PeoplePaneContent.tsx
  packages/react-composites/src/composites/CallWithChatComposite/SidePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/SidePaneHeader.tsx
  packages/react-composites/src/composites/CallWithChatComposite/TabHeader.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/PeoplePaneContent.styles.ts
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-speaker-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#1656 Cherry-Pick: Flatten pick and omit APIs in CallWithChatComposite (#1630)
  change/@internal-react-composites-05ee0a21-695f-4ad6-8e3e-86429894292e.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatTypeAssertions.ts
  packages/react-composites/src/composites/CallWithChatComposite/state/CallWithChatAdapterState.ts
  packages/react-composites/stable-review/react-composites.api.md
Labels: ui change

#1648 Enhanced chat tooltips (#1606)
  change/@internal-react-composites-75b72031-4930-4330-ad68-acc498ac79bf.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/src/composites/CallWithChatComposite/Strings.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/stable-review/react-composites.api.md
  packages/react-composites/stable-snapshot/tests/browser/call/Localization.test.ts-snapshots/localized-call-screen-Desktop-Chrome-linux.png
Labels: ui change

#1663 Hide some beta-only API from stable build
  change/@internal-react-components-af90c7c7-c29c-4ea9-9cf3-5a5433f51913.json
  change/@internal-react-composites-d40b2c1a-5415-4bbe-b1ad-4fe908b81ec1.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/stable-review/react-composites.api.md
Labels: breaking-change

#1639 Fetch read receipt when participant join the chat, also not show read receipt when having more than 20 participants
  change/@internal-chat-component-bindings-174ed567-42fd-4851-be2d-14c6dc9b3727.json
  change/@internal-react-components-199c3e05-8ba5-4099-9266-a0f166e65b06.json
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/react-components/src/components/ChatMessage/ChatMessageActionsFlyout.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
Labels: ui change

#1651 File Sharing Code Cleanup
  change/@internal-react-components-9cf5f858-d31a-4f5e-9012-47cb2c37280a.json
  change/@internal-react-composites-cd34121d-dc90-4ea4-8454-d1c4a8893d42.json
  change/@internal-storybook-da2bf3d9-b4e4-4c0a-8d64-5aa4fb929242.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/variants/stable/pnpm-lock.yaml
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/FileCard.tsx
  packages/react-components/src/components/FileCardGroup.tsx
  packages/react-components/src/components/FileUploadCards.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/src/composites/ChatComposite/FileDownloadCards.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileCard.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileCardGroup.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/index.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/utils.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Portrait-linux.png
  packages/storybook/.storybook/preview.tsx
  packages/storybook/package.json
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/INTERNAL/FileCard/FileCard.stories.tsx
Labels: ui change

#1673 Bugfix for file upload button and sendbox errors
  change/@internal-react-components-5ed7c692-47b2-4290-9860-44b81849bf66.json
  change/@internal-react-composites-db608f62-be73-45a0-b46e-fe94ed278892.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/FileUploadCards.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/SendBoxErrorBar.tsx
  packages/react-components/src/components/SendBoxErrors.tsx
  packages/react-components/src/components/index.ts
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.test.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadButton.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
Labels: breaking-change

#1672 Tests for Upload Progress Bar for files in Sendbox
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/app/index.tsx
Labels: ui change

#1676 Resend Button for Chat
  change/@internal-react-components-0f7119e1-aa13-4444-bd11-253d2df39472.json
  change/@internal-react-composites-b6f74c76-88f8-4fda-be6d-b5d7a0efe6a8.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageActionsFlyout.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/theming/icons.tsx
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/stable-review/react-composites.api.md
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-more-drawer-submenu-speaker-screen-Mobile-Android-Portrait-linux.png
Labels: breaking-change

#1680 Fix PIPIP overlap in chat pane (#1674)
  change/@internal-react-composites-58107184-290f-4d15-9551-158713037a17.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatPane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/ModalLocalAndRemotePIP.tsx
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
Labels: ui change

#1682 Hide file upload button if upload handler not provided
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
Labels: ui change

#1681 Change color for chat bubbles : blue when successfully sent and red when failed, added failed tag
  change/@internal-react-components-1503d317-2b41-4149-b236-933aa72bb219.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/styles/ChatMessageComponent.styles.ts
  packages/react-components/src/components/styles/MessageThread.styles.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-expired-token-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-endpoint-url-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/error-bar-send-message-with-wrong-thread-id-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1689 Fix Double scroll bar in CallWithChatComposite
  change/@internal-react-composites-304ee089-2333-4a7b-a9d2-4cccdb4707c6.json
  packages/react-composites/src/composites/ChatComposite/styles/Chat.styles.ts
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Portrait-linux.png
Labels: ui change

#1678 Tests for file upload error in sendbox
  packages/react-composites/tests/browser/chat/FileSharing.test.ts
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-error-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/app/index.tsx
Labels: ui change

#1671 [CallWithChat] Left Align Participant pane items in desktop and mobile view
  change/@internal-react-components-5777853c-ed10-41f9-944a-9555f09f19bf.json
  change/@internal-react-composites-65261491-b7e6-43b2-876a-ed113d53461a.json
  packages/react-components/src/components/styles/ParticipantItem.styles.ts
  packages/react-composites/src/composites/CallWithChatComposite/PeoplePaneContent.tsx
  packages/react-composites/src/composites/CallWithChatComposite/SidePaneHeader.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/MobilePane.styles.ts
  packages/react-composites/src/composites/CallWithChatComposite/styles/PeoplePaneContent.styles.ts
  packages/react-composites/src/composites/ChatComposite/styles/Chat.styles.ts
  packages/react-composites/src/composites/common/ParticipantContainer.tsx
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-not-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-not-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-error-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
Labels: ui change

#1696 Tests for file upload in progress error in sendbox
  packages/react-composites/tests/browser/chat/FileSharing.test.ts
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Mobile-Android-Portrait-linux.png
Labels: ui change

#1697 Fetch string translations
  packages/react-components/src/localization/locales/de-DE/strings.json
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/es-ES/strings.json
  packages/react-components/src/localization/locales/fr-FR/strings.json
  packages/react-components/src/localization/locales/it-IT/strings.json
  packages/react-components/src/localization/locales/ja-JP/strings.json
  packages/react-components/src/localization/locales/ko-KR/strings.json
  packages/react-components/src/localization/locales/nl-NL/strings.json
  packages/react-components/src/localization/locales/pt-BR/strings.json
  packages/react-components/src/localization/locales/ru-RU/strings.json
  packages/react-components/src/localization/locales/tr-TR/strings.json
  packages/react-components/src/localization/locales/zh-CN/strings.json
  packages/react-components/src/localization/locales/zh-TW/strings.json
  packages/react-composites/src/composites/localization/locales/de-DE/strings.json
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/es-ES/strings.json
  packages/react-composites/src/composites/localization/locales/fr-FR/strings.json
  packages/react-composites/src/composites/localization/locales/it-IT/strings.json
  packages/react-composites/src/composites/localization/locales/ja-JP/strings.json
  packages/react-composites/src/composites/localization/locales/ko-KR/strings.json
  packages/react-composites/src/composites/localization/locales/nl-NL/strings.json
  packages/react-composites/src/composites/localization/locales/pt-BR/strings.json
  packages/react-composites/src/composites/localization/locales/ru-RU/strings.json
  packages/react-composites/src/composites/localization/locales/tr-TR/strings.json
  packages/react-composites/src/composites/localization/locales/zh-CN/strings.json
  packages/react-composites/src/composites/localization/locales/zh-TW/strings.json
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
Labels: ui change

#1700 [FileSharing] - Resolving ARB Feedback
  change/@internal-react-composites-0e4c98dd-d0d3-4c65-87b2-b28a39b9fa45.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/adapter/AzureCommunicationCallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatBackedChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.test.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapterProvider.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/tests/browser/chat/app/index.tsx
Labels: breaking-change
