Repository Azure/communication-ui-library, pull requests merged in 2022-02, with the labels that each got.

#1388 Update visuals of `MeetingComposite` control bar buttons
  change/@internal-react-composites-a8b77f11-eb2b-4750-b653-30ff34b58cdc.json
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#1389 Add File Sharing (Upload) props to ChatComposite
  change/@internal-react-composites-8d793a73-c1f3-4e5f-84a9-276ac20bec0c.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadButton.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadHandler.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
Labels: breaking-change

#1392 `MeetingComposite`: Use a `SplitButton` with device selection dropdown
  change/@internal-calling-component-bindings-81616b26-f3eb-47a9-b78d-29319aedc229.json
  change/@internal-react-components-86146e40-0263-4df7-96d2-35bd4deab13e.json
  change/@internal-react-composites-469b23ce-bb97-48cc-80f3-3fcdbf110887.json
  change/@internal-storybook-3e43885b-6fd1-416c-a38c-a519803c48a2.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/callControlSelectors.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/DevicesButton.tsx
  packages/react-components/src/components/MicrophoneButton.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/ControlBar.styles.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/storybook/stories/ControlBar/Buttons/Microphone/Microphone.stories.tsx
  packages/storybook/stories/ControlBar/Buttons/Microphone/__snapshots__/Microphone.stories.storyshot
  packages/storybook/stories/ControlBar/__snapshots__/ControlBar.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
Labels: breaking-change, ui change

#1391 Apply local Camera switcher button to call composite
  change/@internal-react-components-d1a4dd6d-0a5d-4430-b2a9-6fba219cc527.json
  change/@internal-react-composites-4cba40c4-0e66-45b4-9ec3-c580777b3188.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoGallery/LocalVideoCameraCycleButton.tsx
  packages/react-composites/src/composites/CallComposite/components/MediaGallery.tsx
  packages/react-composites/src/composites/CallComposite/pages/CallPage.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1347 HorizontalGallery UI tests using MockCallingAdapter
  change/@internal-react-components-c719cfda-ce9d-4a95-87a3-47326ceb56d2.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/HorizontalGallery.tsx
  packages/react-components/src/identifiers/IdentifierProvider.tsx
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Mobile-Android-Portrait-win32.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Mobile-Android-Portrait-win32.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Mobile-Android-Portrait-win32.png
  packages/react-composites/tests/browser/call/Localization.test.ts-snapshots/localized-call-configuration-page-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/TestCallingState.ts
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/call/app/mocks/MockCallAdapter.ts
  packages/react-composites/tests/browser/call/utils.ts
  packages/react-composites/tests/browser/common/constants.ts
  packages/react-composites/tests/browser/common/utils.ts
Labels: breaking-change, ui change

#1378 Chat Notification Icon Component
  change/@internal-react-composites-3e8203bf-9f73-4300-8ae4-34b282a1e57a.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/ChatButton.tsx
  packages/react-composites/src/composites/MeetingComposite/NotificationIcon.tsx
  packages/react-composites/src/composites/MeetingComposite/styles/MeetingCompositeStyles.ts
  packages/react-composites/src/composites/common/icons.tsx
Labels: breaking-change

#1416 Screenshare UI tests
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-back-to-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-back-to-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-2-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-2-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Mobile-Android-Portrait-win32.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-back-to-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-back-to-page-1-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-back-to-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-1-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-2-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-2-Desktop-Chrome-win32.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-2-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/TestCallingState.ts
  packages/react-composites/tests/browser/call/app/mocks/MockCallAdapter.ts
Labels: ui change

#1393 Dmceachernmsft/addingCamerasToSwitcher
  change/@internal-calling-component-bindings-bf4edf9c-6d58-4b69-b2f8-1a9c60a77ce7.json
  change/@internal-react-components-3035480d-39ce-4083-b8cd-f31e5d2850e0.json
  change/@internal-react-composites-b8fcdd85-745c-4a71-9d9e-131e58763865.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/LocalVideoCameraButton.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/VideoGallery.styles.ts
  packages/react-components/src/components/styles/VideoTile.styles.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/src/composites/CallComposite/components/MediaGallery.tsx
  packages/react-composites/src/composites/CallComposite/selectors/LocalVideoTileSelector.ts
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1386 Chat notification logic
  change/@internal-react-composites-7fa0abbc-d304-4a7d-9889-bf8d1677770c.json
  packages/react-composites/src/composites/MeetingComposite/ChatButton.tsx
  packages/react-composites/src/composites/MeetingComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.test.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/src/composites/MeetingComposite/NotificationIcon.tsx
Labels: ui change

#1419 Call composite UI tests based on page state
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/access-denied-page-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/access-denied-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/call-failed-due-to-network-page-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/call-failed-due-to-network-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/left-call-page-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/left-call-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/lobby-page-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/lobby-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/removed-from-call-page-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/removed-from-call-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/access-denied-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/access-denied-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/call-failed-due-to-network-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/call-failed-due-to-network-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/left-call-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/left-call-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/lobby-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/lobby-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/removed-from-call-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/removed-from-call-page-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/TestCallingState.ts
  packages/react-composites/tests/browser/call/app/mocks/MockCallAdapter.ts
Labels: ui change

#1374 File Sharing UI State and Selectors [Please Review]
  change/@internal-acs-ui-common-3775d2e8-a88c-4fd1-a894-fe2d9687835d.json
  change/@internal-chat-component-bindings-b8046069-701a-47d9-b783-12605f8f34ec.json
  change/@internal-react-components-9e0f3f5e-75ca-4739-b2d0-2781b14a8708.json
  change/@internal-react-composites-25e42ab8-cc94-4118-bdd6-5dff01991001.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/variants/stable/pnpm-lock.yaml
  packages/acs-ui-common/review/acs-ui-common.api.md
  packages/acs-ui-common/src/constants.ts
  packages/acs-ui-common/src/index.ts
  packages/acs-ui-common/stable-review/acs-ui-common.api.md
  packages/chat-component-bindings/review/chat-component-bindings.api.md
  packages/chat-component-bindings/src/handlers/createHandlers.ts
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/chat-component-bindings/stable-review/chat-component-bindings.api.md
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/types/ChatMessage.ts
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/package.json
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadButton.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/index.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/src/composites/ChatComposite/selectors/baseSelectors.ts
  packages/react-composites/src/composites/ChatComposite/selectors/fileUploadButtonSelector.ts
  packages/react-composites/src/composites/ChatComposite/selectors/fileUploadsSelector.ts
  packages/react-composites/stable-review/react-composites.api.md
  packages/storybook/stories/Examples/IncomingCallAlerts/__snapshots__/IncomingCallToast.stories.storyshot
  packages/storybook/stories/MeetingComposite/__snapshots__/BasicExample.stories.storyshot
  packages/storybook/stories/MeetingComposite/__snapshots__/JoinExample.stories.storyshot
Labels: breaking-change

#1377 Pipe local participant and dominant participant into PiP
  change/@internal-react-composites-b050bf40-8788-4709-bb7a-569a0a94537f.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/LocalAndRemotePIP.tsx
  packages/react-composites/src/composites/CallComposite/selectors/baseSelectors.ts
  packages/react-composites/src/composites/CallComposite/selectors/dominantRemoteParticipantSelector.ts
  packages/react-composites/src/composites/CallComposite/selectors/lobbySelector.ts
  packages/react-composites/src/composites/CallComposite/selectors/localAndRemotePIPSelector.ts
  packages/react-composites/src/composites/CallComposite/selectors/localVideoStreamSelector.ts
  packages/react-composites/src/composites/MeetingComposite/Strings.tsx
  packages/react-composites/src/composites/localization/LocalizationProvider.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
Labels: breaking-change

#1428 Clean up some conditional compilation directives
  change/@internal-react-composites-1a9f331c-9caf-47a6-8645-893deb7fdf2d.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/stable-review/react-composites.api.md
Labels: breaking-change

#1406 Fix PiP styling and Add option to Video Tile to set personal max and min sizing
  change/@internal-react-components-f4002ac3-42c3-420c-97cf-88e8677d7d81.json
  change/@internal-react-composites-d4434bd3-e66a-44ef-96cb-f5ac8ed83a2d.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/PictureInPictureInPicture/PictureInPictureInPicture.tsx
  packages/react-components/src/components/PictureInPictureInPicture/PictureInPictureInPictureTile.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/src/composites/CallComposite/components/LocalAndRemotePIP.tsx
Labels: breaking-change

#1423 Update meeting composite adapter args - accept just a teams url
  change/@internal-react-composites-6e1eac11-db67-47a8-85f8-1d0788a935a8.json
  change/@internal-storybook-db64326b-364a-4d8d-baa8-5a6f483523e7.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/parseTeamsUrl.test.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/parseTeamsUrl.ts
  packages/react-composites/src/composites/MeetingComposite/index.ts
  packages/react-composites/tests/browser/meeting/app/index.tsx
  packages/storybook/stories/MeetingComposite/BasicExample.stories.tsx
  packages/storybook/stories/MeetingComposite/JoinExample.stories.tsx
  packages/storybook/stories/MeetingComposite/snippets/Meeting.snippet.tsx
  packages/storybook/stories/MeetingComposite/snippets/Server.snippet.tsx
  samples/Meeting/src/app/App.tsx
  samples/Meeting/src/app/utils/AppUtils.ts
  samples/Meeting/src/app/utils/getThreadId.ts
  samples/Meeting/src/app/views/MeetingScreen.tsx
Labels: breaking-change

#1436 MeetingComposite: Use a `SplitButton` to show device selection flyout in `CameraButton`
  change/@internal-calling-component-bindings-b1eaba84-57da-445c-8802-173e761aa938.json
  change/@internal-react-components-e263c546-aa0e-45ef-9baf-5d4c233bced0.json
  change/@internal-react-composites-5a2cc196-1c73-4740-8103-69fcbdca3f69.json
  change/@internal-storybook-766611db-6c87-4e1c-a256-d50ee1b90611.json
  packages/calling-component-bindings/review/calling-component-bindings.api.md
  packages/calling-component-bindings/src/callControlSelectors.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/components/MicrophoneButton.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/storybook/stories/ControlBar/Buttons/Camera/Camera.stories.tsx
  packages/storybook/stories/ControlBar/__snapshots__/ControlBar.stories.storyshot
  packages/storybook/stories/Examples/LocalPreview/__snapshots__/LocalPreview.stories.storyshot
  packages/storybook/stories/Examples/TeamsInterop/__snapshots__/Lobby.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
Labels: breaking-change, ui change

#1420 Calling UFD UI tests
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/error-bar-when-camera-freezes-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/error-bar-when-camera-freezes-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/tile-when-ufd-network-reconnect-is-bad-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/tile-when-ufd-network-reconnect-is-bad-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts
  packages/react-composites/tests/browser/call/TestCallingState.ts
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/error-bar-when-camera-freezes-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/error-bar-when-camera-freezes-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/tile-when-ufd-network-reconnect-is-bad-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/tile-when-ufd-network-reconnect-is-bad-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/app/index.tsx
  packages/react-composites/tests/browser/call/app/mocks/MockCallAdapter.ts
Labels: ui change

#1431 Update adapters to make adhoc calls directly to participantIDs
  change/@internal-react-composites-5acd8dd0-2919-4055-a8db-a216dc6f4add.json
  change/@internal-storybook-9b423177-080c-45a9-a261-540154bd119a.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/index.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/stable-review/react-composites.api.md
  packages/storybook/stories/Adapters/snippets/CallAdapterExample.snippet.tsx
  samples/Calling/src/app/views/CallScreen.tsx
  samples/Meeting/src/app/App.tsx
  samples/Meeting/src/app/utils/constants.ts
  samples/Meeting/src/app/views/MeetingScreen.tsx
Labels: breaking-change

#1438 Remove `DevicesButton` from `MeetingComposite`
  change/@internal-react-composites-d474c083-8201-46a0-bfdf-50f4ef5aa3b2.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
Labels: breaking-change, ui change

#1456 Exposed Chat and Call latestErrors in Meeting Adapter
  change/@internal-react-composites-36949a4f-65ce-475b-a1f0-4a38aa126074.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.test.tsx
  packages/react-composites/src/composites/MeetingComposite/adapter/AzureCommunicationMeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/adapter/MeetingAdapter.ts
  packages/react-composites/src/composites/MeetingComposite/state/MeetingAdapterState.ts
  samples/Meeting/src/app/views/MeetingScreen.tsx
Labels: breaking-change

#1455 Making userId string in uploadHandler
  change/@internal-react-composites-960282a0-9b20-4cdb-9043-6ed93db0495e.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadHandler.tsx
Labels: breaking-change

#1429 Meeting composite Narrator call outs
  change/@internal-react-components-91e02112-8a51-4d25-95d2-71b08ef66889.json
  change/@internal-react-composites-c8b953de-ce7f-439e-ae02-7a3ee52c92ad.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/src/components/LocalVideoCameraButton.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/NotificationIcon.tsx
  packages/react-composites/src/composites/MeetingComposite/Strings.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
Labels: breaking-change

#1439 ErrorBar UI tests
  change/@internal-react-components-df2e2432-a8c3-4f7e-83a7-516d20328f8e.json
  packages/react-components/src/components/ErrorBar.tsx
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/all-errors-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/all-errors-dismissed-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/failure-to-start-video-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/failure-to-start-video-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/multiple-errors-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/multiple-errors-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/one-error-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/one-error-dismissed-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/all-errors-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/all-errors-dismissed-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/failure-to-start-video-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/failure-to-start-video-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/multiple-errors-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/multiple-errors-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/one-error-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/one-error-dismissed-on-error-bar-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/TestCallingState.ts
  packages/react-composites/tests/browser/call/app/mocks/MockCallAdapter.ts
  packages/storybook/stories/ErrorBar/__snapshots__/ErrorBar.stories.storyshot
Labels: ui change

#1444 File sharing FileDownloadHandler
  change/@internal-react-composites-40bfa734-ba9d-45ae-a0f1-404662c39be7.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileDownloadHandler.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/index.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
Labels: breaking-change

#1407 Create tooltip: read by x of x
  change/@internal-chat-component-bindings-ed90ec7c-69e1-457b-81db-fa60e85c8e7b.json
  change/@internal-chat-stateful-client-f85b86af-dac6-4edc-b6e6-42459697239e.json
  change/@internal-react-components-10aa61e9-e8cd-45f0-8618-275bb0d3fb00.json
  change/@internal-storybook-739cb3b7-c4d1-426f-9728-e4a14d9effeb.json
  packages/chat-component-bindings/src/baseSelectors.ts
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/MessageStatusIndicator.test.tsx
  packages/react-components/src/components/MessageStatusIndicator.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/types/ChatMessage.ts
  packages/react-components/stable-review/react-components.api.md
  packages/storybook/stories/MessageStatusIndicator/MessageStatusIndicator.stories.tsx
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change

#1471 Update `EndCall` button styles
  change/@internal-react-components-d5123048-3d15-4fc5-86a7-2f3ac2fd8656.json
  change/@internal-react-composites-c1ef42a9-0996-4b0e-83f4-a7797eff8c31.json
  packages/react-components/src/theming/themes.ts
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
Labels: ui change

#1472 Update wording of the labels for `ScreenShareButton`
  change/@internal-react-components-1e172c1a-074b-49d5-aea4-42b0b910e472.json
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/all-errors-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/failure-to-start-video-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/multiple-errors-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/ErrorBar.test.ts-snapshots/one-error-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/PageState.test.ts-snapshots/lobby-page-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-back-to-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-2-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/error-bar-when-camera-freezes-Desktop-Chrome-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/tile-when-ufd-network-reconnect-is-bad-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-camera-toggled-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/all-errors-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/failure-to-start-video-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/multiple-errors-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/ErrorBar.test.ts-snapshots/one-error-dismissed-on-error-bar-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-1-audio-participant-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/HorizontalGallery.test.ts-snapshots/horizontal-gallery-with-many-audio-participants-on-page-2-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/PageState.test.ts-snapshots/lobby-page-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/local-screenshare-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-back-to-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-1-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/Screenshare.test.ts-snapshots/remote-screenshare-horizontal-gallery-page-2-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/banner-when-speaking-while-muted-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/error-bar-when-camera-freezes-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/UserFacingDiagnostics.test.ts-snapshots/tile-when-ufd-network-reconnect-is-bad-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/storybook/stories/ControlBar/Buttons/ScreenShare/__snapshots__/ScreenShare.stories.storyshot
  packages/storybook/stories/ControlBar/__snapshots__/ControlBar.stories.storyshot
  packages/storybook/stories/Examples/Themes/__snapshots__/TeamsTheme.stories.storyshot
Labels: ui change

#1483 Move Chat Button to center of `CallWithChatControlBar` for `mobileView`
  change/@internal-react-composites-ee2b6e88-b679-4b31-b9b8-a8a865feab69.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#1482 Added read by information in chat bubble contextual menu
  change/@internal-react-components-4e82c0f1-b077-4ffb-b8b0-42f917fdb818.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageActionsFlyout.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/MessageStatusIndicator.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/stable-review/react-components.api.md
Labels: breaking-change

#1484 Fix chat and people button icons
  change/@internal-react-composites-c8f988e4-b072-4e99-a094-81ea2a4796aa.json
  packages/react-composites/src/composites/CallWithChatComposite/ChatButton.tsx
  packages/react-composites/src/composites/CallWithChatComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/src/composites/CallWithChatComposite/PeopleButton.tsx
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#1478 Rename `'afterOptionsButton'` to `afterDevicesButton'`
  change/@internal-react-composites-6d0c972f-8117-4934-a996-95604447c32d.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/components/buttons/Custom.tsx
  packages/react-composites/src/composites/CallComposite/types/CallControlOptions.ts
Labels: breaking-change

#1485 `CallWithChatComposite`: Add a more button with people pane toggle in `mobileView`
  change/@internal-react-composites-40a48e59-8c00-462f-a648-9454a51c55c9.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/MoreButton.tsx
  packages/react-composites/src/composites/CallWithChatComposite/MoreDrawer.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/CallWithChatCompositeStyles.ts
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1492 `CallWithChatComposite` - In `mobileview`, show device selection in drawer
  change/@internal-react-composites-dff8ef6a-026b-4663-92d6-2fea81fc3dde.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/MoreDrawer.tsx
  packages/react-composites/src/composites/CallWithChatComposite/PreparedMoreDrawer.tsx
  packages/react-composites/src/composites/CallWithChatComposite/Strings.tsx
  packages/react-composites/src/composites/CallWithChatComposite/components/MoreDrawer.tsx
  packages/react-composites/src/composites/CallWithChatComposite/selectors/moreDrawerSelector.ts
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: breaking-change, ui change

#1493 Contextual menu showing who read my message
  change/@internal-chat-component-bindings-0c1729bf-efde-40e4-afe6-7412f8003ddf.json
  change/@internal-react-components-4aec1646-7b27-4f1a-9004-47e4788429a2.json
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/chat-component-bindings/src/utils/getParticipantsWhoHaveReadMessage.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageActionsFlyout.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/types/ChatMessage.ts
  packages/react-components/stable-review/react-components.api.md
Labels: breaking-change

#1486 MobilePane for Chat and People panes in CallWithChat composite.
  change/@internal-react-composites-23ef5a0b-bbd5-4874-a50b-00472d2a4b60.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/MobilePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/SidePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/MobilePane.styles.ts
  packages/react-composites/src/composites/common/ParticipantContainer.tsx
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#1494 File Sharing: Updated the message thread component to display attached files in a message
  change/@internal-react-components-8d6b02d3-75a0-456f-9203-3431e779abfa.json
  change/@internal-react-composites-4966bad4-f758-40db-b78d-6222782bba67.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageContent.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/FileDownloadCards.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileCard.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/utils.ts
Labels: breaking-change, ui change

#1495 Remove `PeopleButton` in `CallWithChatComposite` when `mobileView` is set
  change/@internal-react-composites-b5063e10-466b-4499-ae21-1aee870626da.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/common/utils.ts
Labels: ui change

#1509 updating calling sdk for beta to 1.4.2-beta.1
  change/@internal-calling-component-bindings-53df9e15-421d-4382-b476-035bb1eac218.json
  change/@internal-calling-stateful-client-0f877739-c68d-488b-9de7-de0ff2d84bb4.json
  change/@internal-react-composites-91c41096-6d74-4807-9738-b28027b447e7.json
  change/@internal-storybook-8a2bbb4d-986e-406c-a4eb-a25e96d8158a.json
  common/config/rush/pnpm-lock.yaml
  common/scripts/babel-conditional-preprocess.js
  packages/calling-component-bindings/package.json
  packages/calling-stateful-client/package.json
  packages/calling-stateful-client/review/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallAgentDeclarative.test.ts
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/TestUtils.ts
  packages/calling-stateful-client/stable-review/calling-stateful-client.api.md
  packages/communication-react/package.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/package.json
  packages/storybook/package.json
  samples/CallWithChat/package.json
  samples/Calling/package.json
  samples/ComponentExamples/package.json
  samples/StaticHtmlComposites/package.json
  samples/tests/package.json
Labels: breaking-change

#1511 Delete defunct fixed control bar width
  change/@internal-react-composites-c1902d74-b80f-4089-b19f-c8eb61fb8b6a.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-Mobile-Android-Portrait-linux.png
Labels: ui change

#1529 Fix typo: `CamerSwitcher` -> `CameraSwitcher`
  change/@internal-react-components-03a59ef9-47ee-4518-90df-3f8cb8d51790.json
  change/@internal-react-composites-702e49bc-ae87-46ef-b41e-946faaedb33a.json
  change/@internal-storybook-1ab2bd43-fc36-42dc-adeb-85f0254cbe08.json
  packages/communication-react/review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-composites/src/composites/CallComposite/components/MediaGallery.tsx
  packages/storybook/stories/VideoGallery/VideoGallery.stories.tsx
  packages/storybook/stories/VideoGallery/snippets/LocalCameraSwitcher.snippet.tsx
Labels: breaking-change

#1524 Dmceachernmsft/ChatButtonCustomIcons
  change/@internal-react-composites-45a38e3e-8401-47e3-81da-d22ce122289f.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/ChatButtonWithUnreadMessagesBadge.tsx
  packages/react-composites/src/composites/CallWithChatComposite/PeopleButton.tsx
  packages/react-composites/src/composites/common/BaseComposite.tsx
  packages/react-composites/src/composites/common/icons.tsx
Labels: breaking-change

#1535 export createAzureCommunicationCallWithChatAdapterFromClients
  change/@internal-react-composites-5b45107f-ec66-48b5-b37c-25435d6893b1.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/index.ts
Labels: breaking-change

#1518 InputBox API update
  change/@internal-react-components-4a8467a8-a479-432b-9aa0-957d3a83c2a1.json
  change/@internal-react-composites-c1e22e7e-e9e6-4595-8437-e6ee7df3e81c.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-components/review/react-components.api.md
  packages/react-components/src/components/InputBoxComponent.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/stable-review/react-components.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/stable-review/react-composites.api.md
Labels: breaking-change

#1516 Added copy invite link to mobile people pane in CallWithChat (with refactor)
  change/@internal-react-composites-29d4d1f1-0023-452b-9d76-386a0d3f4320.json
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatControlBar.tsx
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedChatPane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedPeoplePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/SidePane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/styles/EmbeddedPeoplePane.styles.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/callwithchat/CallWithChatComposite.test.ts-snapshots/call-with-chat-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/callwithchat/app/index.tsx
Labels: ui change

#1531 Fill `CallWithChatCompositeIcons` type with all used customized icon
  .github/workflows/update-api-files.yml
  change/@internal-react-composites-38112c05-c837-4ae2-8df1-089075688aaa.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/CallWithChatComposite.tsx
  packages/react-composites/src/composites/common/BaseComposite.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/src/composites/index.ts
  packages/react-composites/stable-review/react-composites.api.md
Labels: breaking-change

#1546 Use per-feature conditional compilation directives
  change/@internal-calling-component-bindings-ba31c58a-7fda-4147-9328-7f73de57ab12.json
  change/@internal-calling-stateful-client-25bcb50c-7a50-47e0-ba59-21a33afc96e8.json
  change/@internal-react-components-9525c28e-f13a-4c7b-b53d-60000aa59552.json
  change/@internal-react-composites-5481624b-48ef-4237-93d7-afc8b71e52b1.json
  common/config/babel/.babelrc.js
  packages/calling-component-bindings/src/callControlSelectors.ts
  packages/calling-stateful-client/src/CallAgentDeclarative.test.ts
  packages/calling-stateful-client/src/TestUtils.ts
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/src/components/CameraButton.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageContent.tsx
  packages/react-components/src/components/MicrophoneButton.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/index.ts
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/index.ts
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/components/LocalAndRemotePIP.tsx
  packages/react-composites/src/composites/CallComposite/components/MediaGallery.tsx
  packages/react-composites/src/composites/CallComposite/components/buttons/Camera.tsx
  packages/react-composites/src/composites/CallComposite/components/buttons/Microphone.tsx
  packages/react-composites/src/composites/CallComposite/index.ts
  packages/react-composites/src/composites/CallComposite/types/CallControlOptions.ts
  packages/react-composites/src/composites/CallWithChatComposite/EmbeddedChatPane.tsx
  packages/react-composites/src/composites/CallWithChatComposite/adapter/AzureCommunicationCallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatBackedChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/state/CallWithChatAdapterState.ts
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/adapter/ChatAdapter.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadButton.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/src/composites/ChatComposite/selectors/baseSelectors.ts
  packages/react-composites/src/composites/ChatComposite/selectors/fileUploadsSelector.ts
  packages/react-composites/src/composites/common/BaseComposite.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/src/composites/index.ts
  packages/react-composites/src/composites/localization/LocalizationProvider.tsx
  samples/Chat/src/app/ChatHeader.tsx
Labels: breaking-change

#1556 Chat Adapter allows devs to upload already completed file uploads
  change/@internal-react-composites-b795775a-724a-4891-b4f6-00c15ce9c252.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationFileUploadAdapter.ts
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUpload.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
Labels: breaking-change
