Repository Azure/communication-ui-library, pull requests merged in 2022-01, with the labels that each got.

#1278 Dmceachernmsft/MeetingCompositeLocaleSidePane
  change/@internal-react-components-bcebdbae-53e2-473a-bdd0-e76689f4b65a.json
  change/@internal-react-composites-cfb3b0a7-e922-4f8d-8995-674b4583bad8.json
  packages/react-components/src/localization/locales/de-DE/strings.json
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/es-ES/strings.json
  packages/react-components/src/localization/locales/fr-FR/strings.json
  packages/react-components/src/localization/locales/it-IT/strings.json
  packages/react-components/src/localization/locales/ja-JP/strings.json
  packages/react-components/src/localization/locales/ko-KR/strings.json
  packages/react-components/src/localization/locales/nl-NL/strings.json
  packages/react-components/src/localization/locales/pt-BR/strings.json
  packages/react-components/src/localization/locales/ru-RU/strings.json
  packages/react-components/src/localization/locales/tr-TR/strings.json
  packages/react-components/src/localization/locales/zh-CN/strings.json
  packages/react-components/src/localization/locales/zh-TW/strings.json
  packages/react-composites/src/composites/MeetingComposite/ChatButton.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/PeopleButton.tsx
  packages/react-composites/src/composites/MeetingComposite/SidePane.tsx
  packages/react-composites/src/composites/localization/locales/de-DE/strings.json
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/es-ES/strings.json
  packages/react-composites/src/composites/localization/locales/fr-FR/strings.json
  packages/react-composites/src/composites/localization/locales/it-IT/strings.json
  packages/react-composites/src/composites/localization/locales/ja-JP/strings.json
  packages/react-composites/src/composites/localization/locales/ko-KR/strings.json
  packages/react-composites/src/composites/localization/locales/nl-NL/strings.json
  packages/react-composites/src/composites/localization/locales/pt-BR/strings.json
  packages/react-composites/src/composites/localization/locales/ru-RU/strings.json
  packages/react-composites/src/composites/localization/locales/tr-TR/strings.json
  packages/react-composites/src/composites/localization/locales/zh-CN/strings.json
  packages/react-composites/src/composites/localization/locales/zh-TW/strings.json
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
Labels: ui change

#1272 Dmceachernmsft/MeetingCompositeOptions
  change/@internal-react-composites-4665fae0-8cf3-449e-b9fc-8a42dd0bf353.json
  change/@internal-storybook-6dcc8e31-e729-4f82-bf93-446ac1329a72.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/MeetingComposite/MeetingCallControlBar.tsx
  packages/react-composites/src/composites/MeetingComposite/MeetingComposite.tsx
  packages/storybook/stories/MeetingComposite/BasicExample.stories.tsx
  packages/storybook/stories/MeetingComposite/snippets/Meeting.snippet.tsx
  packages/storybook/stories/MeetingComposite/snippets/Server.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change

#1290 Added viewport size to capture contents in ComponentExamples test
  samples/tests/ComponentExamples/ComponentExamples.test.ts
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStarted-chromium-linux.png
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStopped-chromium-linux.png
  samples/tests/StaticHtmlComposites/EmbededComposite.test.ts-snapshots/embeddedJsHtml-chromium-linux.png
  samples/tests/playwright.config.ts
Labels: ui change

#1293 Fixed inability to click the horizontal gallery left/right button by changing pointerEvents of LayerHost
  change/@internal-react-components-36765647-e480-42d7-a08a-f51645dec1d3.json
  packages/react-components/src/components/styles/VideoGallery.styles.ts
Labels: ui change

#1288 Add a custom styled ControlBar example to e2e samples
  samples/ComponentExamples/src/Examples.tsx
  samples/ComponentExamples/src/examples/StyledControlBarExample.tsx
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStarted-chromium-linux.png
  samples/tests/ComponentExamples/ComponentExamples.test.ts-snapshots/componentExamples-localVideoStopped-chromium-linux.png
Labels: ui change

#1297 Fixed alignment of typing indicator in chat composite by changing flexFlow to column-reverse
  change/@internal-react-components-c97a2050-1868-4543-af87-2ab7c26783f8.json
  packages/react-components/src/components/styles/TypingIndicator.styles.ts
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Desktop-Chrome-linux.png
Labels: ui change

#1300 Bug 2641702: [Web][a11y][Call page] - first tab lands on horizontal gallery right arrow instead of "Unmute" button
  change/@internal-react-composites-d4e853e4-c579-4c94-b83a-e19b713de4e0.json
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
Labels: call composite

#1314 Add API for custom button injection into `CallComposite`
  change/@internal-react-composites-adc8025d-b075-4c6e-9b36-29c2f326a349.json
  packages/communication-react/review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/src/composites/CallComposite/index.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/custom-buttons-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/app/index.tsx
Labels: breaking-change, ui change

#1328 Dmceachernmsft/meetingParticipantNamesAvatarsSidePane
  change/@internal-react-composites-5523c033-6f94-4a66-9fb6-5910d071fb8c.json
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/styles/Chat.styles.ts
  packages/react-composites/src/composites/MeetingComposite/SidePane.tsx
  packages/react-composites/src/composites/common/ParticipantContainer.tsx
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/chat-screen-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/custom-data-model-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/read-message-status-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/rejoin-thread-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/typing-indicator-disappears-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-send-message-with-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/ErrorBar.test.ts-snapshots/no-error-bar-for-valid-user-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-people-pane-Mobile-Android-Portrait-linux.png
  samples/Meeting/src/app/App.tsx
Labels: ui change

#1322 Participant button Item mobile view fixed by removing use of mergeStyleSets in CallControl.tsx
  change/@internal-react-composites-ae9ef7c5-4a19-4aec-8f5d-f146b82fc48c.json
  packages/react-composites/src/composites/CallComposite/components/CallControls.tsx
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/stable-snapshot/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/participant-menu-item-flyout-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-0-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/call/CallComposite.test.ts-snapshots/video-gallery-page-participants-flyout-1-Mobile-Android-Portrait-linux.png
Labels: ui change

#1369 Center send button no matter how big the container is
  change/@internal-react-components-a2357b20-610f-4d92-929a-b6507db829f2.json
  packages/react-components/src/components/styles/InputBoxComponent.style.ts
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-composites/tests/browser/chat/Localization.test.ts-snapshots/localized-chat-Mobile-Android-Portrait-linux.png
Labels: ui change

#1367 Dmceachernmsft/localVideoCameraSwitcherComponent
  change/@internal-react-components-168885cc-5d87-4420-badb-9b6b242d6ac0.json
  change/@internal-react-composites-ab127372-d7f5-49a4-b1ae-fa277b1b836e.json
  packages/communication-react/review/communication-react.api.md
  packages/communication-react/stable-review/communication-react.api.md
  packages/react-composites/review/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/components/LocalVideoCameraButton.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/stable-review/react-composites.api.md
Labels: breaking-change

#1345 Updated MessageThreads to remove usernames being displayed on top of messages in Storybook
  change/@internal-react-components-d13fbeb6-1f0c-465b-9079-32b2e36091b1.json
  packages/react-components/src/components/MessageThread.tsx
  packages/react-composites/tests/browser/chat/ChatComposite.test.ts-snapshots/received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/meeting/MeetingComposite.test.ts-snapshots/meeting-gallery-screen-with-chat-pane-Mobile-Android-Portrait-linux.png
Labels: ui change
