Repository Azure/communication-ui-library, pull requests merged in 2024-03, with the labels that each got.

#4189 [Calling] PPTLive Component
  change-beta/@azure-communication-react-02cc15e3-3b69-4b86-b9fd-7cb01d2966da.json
  change/@azure-communication-react-5f82bb71-de8f-40e0-8443-b5fb05996efb.json
  packages/calling-component-bindings/src/utils/videoGalleryUtils.ts
  packages/calling-stateful-client/review/beta/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/communication-react/review/beta/communication-react.api.md
Labels: breaking-change

#4204 [Calling] Address Api review comments - screenShareParticipant
  change-beta/@azure-communication-react-89c5ee3a-2b16-4548-a8c9-c93757c46359.json
  change/@azure-communication-react-89c5ee3a-2b16-4548-a8c9-c93757c46359.json
  packages/calling-component-bindings/review/beta/calling-component-bindings.api.md
  packages/calling-component-bindings/review/stable/calling-component-bindings.api.md
  packages/calling-component-bindings/src/videoGallerySelector.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
Labels: breaking-change

#4202 Add adapter function to stop all spotlight. Add composite menu button to stop all spotlight.
  change-beta/@azure-communication-react-41d406f0-9524-4ad3-96c9-9d77817ada9f.json
  change/@azure-communication-react-41d406f0-9524-4ad3-96c9-9d77817ada9f.json
  packages/calling-component-bindings/review/beta/calling-component-bindings.api.md
  packages/calling-component-bindings/src/handlers/createCommonHandlers.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
  packages/react-composites/review/beta/react-composites.api.md
  packages/react-composites/review/stable/react-composites.api.md
  packages/react-composites/src/composites/CallComposite/MockCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/adapter/CallAdapter.ts
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/CallComposite/components/SidePane/SidePane.tsx
  packages/react-composites/src/composites/CallComposite/components/SidePane/usePeoplePane.tsx
  packages/react-composites/src/composites/CallComposite/hooks/useHandlers.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/AzureCommunicationCallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatBackedCallAdapter.ts
  packages/react-composites/src/composites/common/ExitSpotlightButton.tsx
  packages/react-composites/src/composites/common/SidePaneHeader.tsx
  packages/react-composites/src/composites/common/TabHeader.tsx
  packages/react-composites/src/composites/common/icons.tsx
  packages/react-composites/src/composites/common/styles/Pane.styles.ts
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/tests/app/lib/MockCallAdapter.ts
Labels: breaking-change

#4212 [Chat] Remove the inline image metadata
  change-beta/@azure-communication-react-d1f110dd-cdab-4b84-b401-4dad835f35e9.json
  change/@azure-communication-react-d1f110dd-cdab-4b84-b401-4dad835f35e9.json
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/review/beta/react-components.api.md
  packages/react-components/review/stable/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageContent.tsx
  packages/react-components/src/components/FileDownloadCards.test.tsx
  packages/react-components/src/components/FileDownloadCards.tsx
  packages/react-components/src/types/ChatMessage.ts
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/storybook/stories/MessageThread/MessageThread.stories.tsx
  packages/storybook/stories/MessageThread/placeholdermessages.ts
  packages/storybook/stories/MessageThread/snippets/WithInlineImageMessage.snippet.tsx
Labels: breaking-change

#4186 [RTE] API skeleton for testing and update filename from RTE to RichText
  change-beta/@azure-communication-react-3628c0c4-f49b-4ab0-8344-f91c1b768703.json
  change/@azure-communication-react-3628c0c4-f49b-4ab0-8344-f91c1b768703.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/variants/stable/pnpm-lock.yaml
  common/config/webpack/sampleapp.webpack.config.js
  packages/chat-component-bindings/review/beta/chat-component-bindings.api.md
  packages/chat-component-bindings/src/hooks/usePropsFor.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/rollup.config.mjs
  packages/communication-react/src/index.ts
  packages/react-components/review/beta/react-components.api.md
  packages/react-components/src/components/RichTextEditor/RichTextEditor.tsx
  packages/react-components/src/components/RichTextEditor/RichTextInputBoxComponent.tsx
  packages/react-components/src/components/RichTextEditor/RichTextRibbonButtons.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBox.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBoxErrors.test.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBoxErrors.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/localization/LocalizationProvider.tsx
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/review/beta/react-composites.api.md
  packages/react-composites/src/composites/ChatComposite/ChatComposite.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/src/composites/common/RichTextSendBoxWrapper.tsx
  packages/react-composites/src/composites/common/SendBox.tsx
  packages/storybook/stories/ChatComposite/ATryChatComposite.stories.tsx
  packages/storybook/stories/ChatComposite/snippets/ATryChatCompositeContainer.snippet.tsx
  packages/storybook/stories/controlsUtils.ts
Labels: breaking-change

#4224 [Chat][RTE] Styles update for send and message edit boxes
  change-beta/@azure-communication-react-7a3cdc27-6865-479e-912c-e033e5bbeeb0.json
  change/@azure-communication-react-7a3cdc27-6865-479e-912c-e033e5bbeeb0.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/variants/stable/pnpm-lock.yaml
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-components/review/beta/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsEditBox.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsRichTextEditBox.tsx
  packages/react-components/src/components/RichTextEditor/RichTextEditor.tsx
  packages/react-components/src/components/RichTextEditor/RichTextInputBoxComponent.tsx
  packages/react-components/src/components/RichTextEditor/RichTextRibbonButtons.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBox.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/ChatMessageComponent.styles.ts
  packages/react-components/src/components/styles/EditBox.styles.ts
  packages/react-components/src/components/styles/RichTextEditor.styles.ts
  packages/react-components/src/components/styles/RichTextInputBoxComponent.styles.ts
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-components/src/components/utils/ChatMessageComponentAsEditBoxUtils.tsx
  packages/react-components/src/components/utils/SendBoxUtils.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/review/beta/react-composites.api.md
  packages/storybook/stories/INTERNAL/RTE/RTESendBox.stories.tsx
  packages/storybook/stories/INTERNAL/RTE/RichTextEditBox.stories.tsx
Labels: breaking-change

#4223 [Chat] ResourceDownloadQueue throws error upstream
  change-beta/@azure-communication-react-736cef0e-83e9-4bb3-a2d2-5ad1ea345d5a.json
  change/@azure-communication-react-736cef0e-83e9-4bb3-a2d2-5ad1ea345d5a.json
  packages/chat-component-bindings/src/messageThreadSelector.test.ts
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/chat-stateful-client/review/beta/chat-stateful-client.api.md
  packages/chat-stateful-client/review/stable/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatContext.test.ts
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/ResourceDownloadQueue.test.ts
  packages/chat-stateful-client/src/ResourceDownloadQueue.ts
  packages/chat-stateful-client/src/TestHelpers.ts
  packages/chat-stateful-client/src/index.ts
  packages/chat-stateful-client/src/types/ChatMessageWithStatus.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
Labels: breaking-change

#4227 [Chat] Remove inline image CCs that's combined with other flags
  change-beta/@azure-communication-react-f0b19205-a257-486a-b592-4b8ea9130a39.json
  change/@azure-communication-react-f0b19205-a257-486a-b592-4b8ea9130a39.json
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
  packages/react-components/review/beta/react-components.api.md
  packages/react-components/review/stable/react-components.api.md
  packages/react-components/src/components/ChatMessage/ChatMessageContent.tsx
  packages/react-components/src/components/FileDownloadCards.tsx
  packages/react-components/src/components/ImageOverlay.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/theming/themes.ts
  packages/react-composites/review/beta/react-composites.api.md
  packages/react-composites/review/stable/react-composites.api.md
  packages/react-composites/src/composites/CallWithChatComposite/adapter/CallWithChatAdapter.ts
Labels: breaking-change

#4233 [Calling] Reaction button ally bug for announcement
  change-beta/@azure-communication-react-bc35126b-1e1c-4535-abd9-6fb4db254eaf.json
  change/@azure-communication-react-bc35126b-1e1c-4535-abd9-6fb4db254eaf.json
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-components/review/beta/react-components.api.md
  packages/react-components/src/components/ReactionButton.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
Labels: bug, breaking-change, accessibility

#4254 [Calling][Refactor] Hide participant information
  change-beta/@azure-communication-react-721ffbc7-4f63-41c8-b873-38a98e566f9f.json
  change/@azure-communication-react-721ffbc7-4f63-41c8-b873-38a98e566f9f.json
  packages/calling-stateful-client/src/CallContext.ts
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoGallery/RemoteScreenShare.tsx
Labels: call composite

#4255 [Calling][Bug] Fix the local screen share and PPTLive Conflict
  change-beta/@azure-communication-react-db28d87d-f40a-4ef9-904f-c1f1c5429adb.json
  change/@azure-communication-react-db28d87d-f40a-4ef9-904f-c1f1c5429adb.json
  packages/calling-stateful-client/src/CallSubscriber.ts
  packages/calling-stateful-client/src/PPTLiveSubscriber.ts
Labels: call composite

#4260 [Calling] Reaction mobile view buttons
  change-beta/@azure-communication-react-620cfff7-2075-4461-b442-1363c891c420.json
  packages/react-components/src/components/Drawer/DrawerMenuItem.tsx
  packages/react-composites/src/composites/common/Drawer/MoreDrawer.tsx
  packages/react-composites/src/composites/common/Drawer/PreparedMoreDrawer.tsx
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/VideoGallery.test.ts-snapshots/gallery-options-mobile-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/VideoGallery.test.ts-snapshots/gallery-options-mobile-Mobile-Android-Portrait-linux.png
Labels: breaking-change

#4264 [Calling] Release note for PPTLive GA
  change-beta/@azure-communication-react-723875ce-ed0a-456a-a98d-97d2cbb83df5.json
  change-beta/@azure-communication-react-b4bd7243-4950-4fee-b9c5-6c42c93b84a4.json
  change/@azure-communication-react-723875ce-ed0a-456a-a98d-97d2cbb83df5.json
  common/config/babel/features.js
  packages/calling-stateful-client/review/beta/calling-stateful-client.api.md
  packages/calling-stateful-client/review/stable/calling-stateful-client.api.md
  packages/calling-stateful-client/src/CallClientState.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
Labels: breaking-change

#4252 [Calling] Reaction mobile view button animations
  change-beta/@azure-communication-react-2cda5a7c-4cfd-4493-a1fc-f2cd95478213.json
  change-beta/@azure-communication-react-2e8df48b-3186-4ea9-ba88-5cdca8e70fae.json
  change-beta/@azure-communication-react-32240110-839d-495e-8f96-1eb94c333a6c.json
  change-beta/@azure-communication-react-620cfff7-2075-4461-b442-1363c891c420.json
  change-beta/@azure-communication-react-7a814f0e-f330-4cfe-b40c-e1fdc760c94a.json
  change-beta/@azure-communication-react-91cefaf2-d8aa-4ace-af6a-da0baad63c36.json
  change-beta/@azure-communication-react-d54219e1-a29e-44dc-a5ba-a9a4e4193856.json
  packages/react-components/review/beta/react-components.api.md
  packages/react-components/review/stable/react-components.api.md
  packages/react-components/src/components/Drawer/DrawerMenu.tsx
  packages/react-components/src/components/Drawer/DrawerMenuItem.tsx
  packages/react-components/src/components/Drawer/ReactionDrawerMenuItem.tsx
  packages/react-components/src/components/Drawer/index.ts
  packages/react-components/src/components/styles/ReactionButton.styles.ts
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/common/Drawer/MoreDrawer.tsx
  packages/react-composites/src/composites/common/Drawer/PreparedMoreDrawer.tsx
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/VideoGallery.test.ts-snapshots/gallery-options-mobile-Mobile-Android-Portrait-linux.png
Labels: breaking-change

#4266 [Chat] Move imageOverlayTheme api under a beta flag
  change/@azure-communication-react-1994766e-10c1-4602-8809-6db202ef85b2.json
  common/config/babel/features.js
  packages/communication-react/review/stable/communication-react.api.md
  packages/react-components/review/stable/react-components.api.md
  packages/react-components/src/components/ImageOverlay.tsx
  packages/react-components/src/theming/themes.ts
Labels: breaking-change

#4268 [Chat] Making sourceUrl optional
  change-beta/@azure-communication-react-04072408-0390-46c8-b8ce-1aa004cf6dae.json
  change-beta/@azure-communication-react-9ee3f1a0-b296-45d4-b15a-5ab2c0a067e2.json
  change/@azure-communication-react-9ee3f1a0-b296-45d4-b15a-5ab2c0a067e2.json
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/chat-stateful-client/review/beta/chat-stateful-client.api.md
  packages/chat-stateful-client/review/stable/chat-stateful-client.api.md
  packages/chat-stateful-client/src/ChatContext.ts
  packages/chat-stateful-client/src/types/ChatMessageWithStatus.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
Labels: breaking-change

#4273 [Chat] Cherry pick move imageOverlayTheme api under a beta flag into release branch
  change/@azure-communication-react-1994766e-10c1-4602-8809-6db202ef85b2.json
  common/config/babel/features.js
  common/git-hooks/pre-commit
  packages/communication-react/review/stable/communication-react.api.md
  packages/react-components/review/stable/react-components.api.md
  packages/react-components/src/components/ImageOverlay.tsx
  packages/react-components/src/theming/themes.ts
Labels: breaking-change

#4265 [beta] Expose LocalRecordingCallFeature in calling-stateful-client
  change-beta/@azure-communication-react-2d291a93-7473-4a88-bf6c-ece8c4eee25b.json
  change/@azure-communication-react-2d291a93-7473-4a88-bf6c-ece8c4eee25b.json
  common/config/babel/features.js
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallContext.ts
  packages/calling-stateful-client/src/CallSubscriber.ts
  packages/calling-stateful-client/src/Converter.ts
  packages/calling-stateful-client/src/LocalRecordingSubscriber.ts
  packages/calling-stateful-client/src/RecordingSubscriber.ts
  packages/calling-stateful-client/src/StatefulCallClient.ts
  packages/calling-stateful-client/src/StreamUtils.test.ts
  packages/calling-stateful-client/src/index-public.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-composites/src/composites/CallComposite/MockCallAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/TestUtils.ts
  packages/react-composites/tests/browser/call/hermetic/fixture.ts
Labels: breaking-change

#4282 [Calling][Bug] Fix videoGalleryUtil
  change-beta/@azure-communication-react-bbbe05bd-2d77-4c98-b0a6-30b2264090dc.json
  change/@azure-communication-react-bbbe05bd-2d77-4c98-b0a6-30b2264090dc.json
  packages/calling-component-bindings/src/utils/videoGalleryUtils.ts
  packages/calling-component-bindings/src/videoGallerySelector.ts
Labels: breaking-change

#4289 Move PPTLive from stable to beta in release branch
  change-beta/@azure-communication-react-bbbe05bd-2d77-4c98-b0a6-30b2264090dc.json
  change/@azure-communication-react-bbbe05bd-2d77-4c98-b0a6-30b2264090dc.json
  change/@azure-communication-react-f694dabd-e0be-449a-a19b-deae6778e560.json
  common/config/babel/features.js
  packages/calling-component-bindings/src/utils/videoGalleryUtils.ts
  packages/calling-component-bindings/src/videoGallerySelector.ts
  packages/calling-stateful-client/review/stable/calling-stateful-client.api.md
  packages/communication-react/CHANGELOG.stable.md
  packages/communication-react/review/stable/communication-react.api.md
Labels: breaking-change

#4293 Spotlight fixes
  change/@azure-communication-react-61b4e975-0e4e-4d2f-a3c2-2eeb019b9b64.json
  packages/calling-component-bindings/src/handlers/createHandlers.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/CallComposite/components/SidePane/usePeoplePane.tsx
  packages/react-composites/src/composites/CallComposite/hooks/useHandlers.ts
  packages/react-composites/src/composites/CallComposite/utils/spotlightUtils.ts
  packages/react-composites/src/composites/localization/locales/ar-SA/strings.json
  packages/react-composites/src/composites/localization/locales/cs-CZ/strings.json
  packages/react-composites/src/composites/localization/locales/de-DE/strings.json
  packages/react-composites/src/composites/localization/locales/en-GB/strings.json
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  packages/react-composites/src/composites/localization/locales/es-ES/strings.json
  packages/react-composites/src/composites/localization/locales/fi-FI/strings.json
  packages/react-composites/src/composites/localization/locales/fr-FR/strings.json
  packages/react-composites/src/composites/localization/locales/he-IL/strings.json
  packages/react-composites/src/composites/localization/locales/it-IT/strings.json
  packages/react-composites/src/composites/localization/locales/ja-JP/strings.json
  packages/react-composites/src/composites/localization/locales/ko-KR/strings.json
  packages/react-composites/src/composites/localization/locales/nb-NO/strings.json
  packages/react-composites/src/composites/localization/locales/nl-NL/strings.json
  packages/react-composites/src/composites/localization/locales/pl-PL/strings.json
  packages/react-composites/src/composites/localization/locales/pt-BR/strings.json
  packages/react-composites/src/composites/localization/locales/ru-RU/strings.json
  packages/react-composites/src/composites/localization/locales/sv-SE/strings.json
  packages/react-composites/src/composites/localization/locales/tr-TR/strings.json
  packages/react-composites/src/composites/localization/locales/zh-CN/strings.json
  packages/react-composites/src/composites/localization/locales/zh-TW/strings.json
Labels: breaking-change

#4302 [Is recieving] Stabilize is recieving spinner
  change-beta/@azure-communication-react-59c9ab3e-ae22-4c26-b21d-38aab6942451.json
  change/@azure-communication-react-59c9ab3e-ae22-4c26-b21d-38aab6942451.json
  common/config/babel/features.js
  packages/calling-stateful-client/src/CallClientState.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/review/stable/communication-react.api.md
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/LoadingVideo.test.ts-snapshots/horizontal-gallery-with-loading-spinners-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/LoadingVideo.test.ts-snapshots/horizontal-gallery-with-loading-spinners-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/LoadingVideo.test.ts-snapshots/horizontal-gallery-with-loading-spinners-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/LoadingVideo.test.ts-snapshots/video-gallery-with-loading-spinners-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/LoadingVideo.test.ts-snapshots/video-gallery-with-loading-spinners-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/stable/tests/browser/call/hermetic/LoadingVideo.test.ts-snapshots/video-gallery-with-loading-spinners-Mobile-Android-Portrait-linux.png
Labels: breaking-change

#4303 [Chat][File Sharing] Renamed Files to Attachments
  change-beta/@azure-communication-react-e8125c91-ca35-4f4f-aa1f-502ad8810878.json
  change/@azure-communication-react-e8125c91-ca35-4f4f-aa1f-502ad8810878.json
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-components/src/components/AttachmentCard.test.tsx
  packages/react-components/src/components/AttachmentCard.tsx
  packages/react-components/src/components/AttachmentCardGroup.test.tsx
  packages/react-components/src/components/AttachmentCardGroup.tsx
  packages/react-components/src/components/AttachmentDownloadCards.test.tsx
  packages/react-components/src/components/AttachmentDownloadCards.tsx
  packages/react-components/src/components/AttachmentUploadCards.test.tsx
  packages/react-components/src/components/AttachmentUploadCards.tsx
  packages/react-components/src/components/Caption.tsx
  packages/react-components/src/components/CaptionsBanner.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsEditBox.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentAsRichTextEditBox.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentWrapper.tsx
  packages/react-components/src/components/ChatMessage/MessageComponents/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/ChatMessage/MyMessageComponents/ChatMyMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/MyMessageComponents/ChatMyMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/FileCardGroup.test.tsx
  packages/react-components/src/components/FileUploadCards.tsx
  packages/react-components/src/components/ImageOverlay.test.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBox.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBoxErrors.test.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBoxErrors.tsx
  packages/react-components/src/components/SendBox.tsx
  packages/react-components/src/components/SendBoxErrors.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/styles/SendBox.styles.ts
  packages/react-components/src/components/utils/ChatMessageComponentAsEditBoxUtils.tsx
  packages/react-components/src/components/utils/ChatMessageComponentUtils.tsx
  packages/react-components/src/components/utils/SendBoxUtils.ts
  packages/react-components/src/components/utils/common.ts
  packages/react-components/src/localization/locales/ar-SA/strings.json
  packages/react-components/src/localization/locales/cs-CZ/strings.json
  packages/react-components/src/localization/locales/de-DE/strings.json
  packages/react-components/src/localization/locales/en-GB/strings.json
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/localization/locales/es-ES/strings.json
  packages/react-components/src/localization/locales/fi-FI/strings.json
  packages/react-components/src/localization/locales/fr-FR/strings.json
  packages/react-components/src/localization/locales/he-IL/strings.json
  packages/react-components/src/localization/locales/it-IT/strings.json
  packages/react-components/src/localization/locales/ja-JP/strings.json
  packages/react-components/src/localization/locales/ko-KR/strings.json
  packages/react-components/src/localization/locales/nb-NO/strings.json
  packages/react-components/src/localization/locales/nl-NL/strings.json
  packages/react-components/src/localization/locales/pl-PL/strings.json
  packages/react-components/src/localization/locales/pt-BR/strings.json
  packages/react-components/src/localization/locales/ru-RU/strings.json
  packages/react-components/src/localization/locales/sv-SE/strings.json
  packages/react-components/src/localization/locales/tr-TR/strings.json
  packages/react-components/src/localization/locales/zh-CN/strings.json
  packages/react-components/src/localization/locales/zh-TW/strings.json
  packages/react-components/src/types/ChatMessage.ts
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/storybook/stories/INTERNAL/AttachmentCard/AttachmentCard.stories.tsx
  packages/storybook/stories/MessageThread/MessageThread.stories.tsx
  packages/storybook/stories/MessageThread/snippets/WithInlineImageMessage.snippet.tsx
Labels: breaking-change

#4308 Moved more button to Participant List heading
  change/@azure-communication-react-4fa1d939-eeb0-4f25-ba17-bb6e1ff452f5.json
  packages/calling-component-bindings/src/handlers/createCommonHandlers.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-composites/src/composites/CallComposite/components/CallArrangement.tsx
  packages/react-composites/src/composites/CallComposite/components/Prompt.tsx
  packages/react-composites/src/composites/CallComposite/components/SidePane/SidePane.tsx
  packages/react-composites/src/composites/CallComposite/components/SidePane/usePeoplePane.tsx
  packages/react-composites/src/composites/CallComposite/hooks/useHandlers.ts
  packages/react-composites/src/composites/CallComposite/utils/spotlightUtils.ts
  packages/react-composites/src/composites/common/ParticipantContainer.tsx
  packages/react-composites/src/composites/common/PeoplePaneContent.tsx
  packages/react-composites/src/composites/common/SidePaneHeader.tsx
  packages/react-composites/src/composites/common/TabHeader.tsx
  packages/react-composites/src/composites/common/styles/ParticipantContainer.styles.ts
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
Labels: breaking-change

#4240 [Calling] Presentation mode experience and overlay refactor
  change-beta/@azure-communication-react-4d1dfb33-bbf2-4e87-ae02-2893c8beb56e.json
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-components/src/components/LocalVideoTile.tsx
  packages/react-components/src/components/MeetingReactionOverlay.tsx
  packages/react-components/src/components/RemoteVideoTile.tsx
  packages/react-components/src/components/VideoGallery.tsx
  packages/react-components/src/components/VideoGallery/ParticipantVideoTileOverlay.tsx
  packages/react-components/src/components/VideoGallery/RemoteContentShareReactionOverlay.tsx
  packages/react-components/src/components/VideoGallery/RemoteScreenShare.tsx
  packages/react-components/src/components/VideoGallery/utils/reactionUtils.ts
  packages/react-components/src/components/VideoTile.tsx
  packages/react-components/src/components/styles/ReactionOverlay.style.ts
  packages/react-components/src/components/styles/VideoTile.styles.ts
  packages/react-components/src/types/ReactionTypes.ts
Labels: breaking-change

#4338 cherry pick code for client
  common/config/babel/features.js
  packages/calling-stateful-client/src/CallAgentDeclarative.test.ts
  packages/calling-stateful-client/src/CallClientState.ts
  packages/calling-stateful-client/src/CallContext.ts
  packages/calling-stateful-client/src/Converter.ts
  packages/communication-react/review/beta/communication-react.api.md
Labels: breaking-change

#4339 call composite for meetingid
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-composites/src/composites/CallComposite/Strings.tsx
  packages/react-composites/src/composites/CallComposite/adapter/AzureCommunicationCallAdapter.ts
  packages/react-composites/src/composites/CallComposite/utils/Utils.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/AzureCommunicationCallWithChatAdapter.test.ts
  packages/react-composites/src/composites/CallWithChatComposite/adapter/AzureCommunicationCallWithChatAdapter.ts
  packages/react-composites/src/composites/CallWithChatComposite/state/CallWithChatAdapterState.ts
  packages/react-composites/src/composites/ChatComposite/adapter/AzureCommunicationChatAdapter.ts
  packages/react-composites/src/composites/localization/locales/en-US/strings.json
  samples/Calling/src/app/App.tsx
Labels: breaking-change

#4342 Add tables support for the rich text editor
  change/@azure-communication-react-ce066c0e-764f-4700-bcc5-e0ae921f462e.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/variants/stable/pnpm-lock.yaml
  packages/communication-react/package.json
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-components/package.json
  packages/react-components/src/components/RichTextEditor/Buttons/RichTextRibbonButtons.tsx
  packages/react-components/src/components/RichTextEditor/Buttons/Table/RichTextInsertTableButton.tsx
  packages/react-components/src/components/RichTextEditor/Buttons/Table/RichTextInsertTablePane.tsx
  packages/react-components/src/components/RichTextEditor/Buttons/Table/RichTextTableContextMenu.tsx
  packages/react-components/src/components/RichTextEditor/Buttons/Table/insertTableAction.tsx
  packages/react-components/src/components/RichTextEditor/RichTextEditor.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBox.test.tsx
  packages/react-components/src/components/RichTextEditor/RichTextSendBox.tsx
  packages/react-components/src/components/styles/RichTextEditor.styles.ts
  packages/react-components/src/components/utils/RichTextEditorStringsUtils.ts
  packages/react-components/src/components/utils/RichTextTableUtils.ts
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/theming/icons.tsx
  packages/react-components/tests/browser/FlavoredBaseTest.tsx
  packages/react-components/tests/browser/RichTextInputBoxComponent.spec.tsx
  packages/react-components/tests/browser/TypingIndicator.spec.tsx
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-1-text-format-at-a-time-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-1-text-format-at-a-time-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-1-text-format-at-a-time-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-all-text-formats-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-all-text-formats-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-all-text-formats-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-bulleted-list-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-bulleted-list-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-bulleted-list-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-numbered-list-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-numbered-list-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-numbered-list-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-with-format-toolbar-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-with-format-toolbar-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/beta/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-with-format-toolbar-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-hover-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-hover-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-hover-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-1-text-format-at-a-time-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-1-text-format-at-a-time-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-1-text-format-at-a-time-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-all-text-formats-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-all-text-formats-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-all-text-formats-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-bulleted-list-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-bulleted-list-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-bulleted-list-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-numbered-list-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-numbered-list-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-text-formatted-numbered-list-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-with-format-toolbar-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-with-format-toolbar-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-with-format-toolbar-Mobile-Android-Portrait-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-without-format-toolbar-Desktop-Chrome-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-without-format-toolbar-Mobile-Android-Landscape-linux.png
  packages/react-components/tests/snapshots/stable/RichTextInputBoxComponent.spec.tsx-snapshots/richtextinputboxcomponent-without-format-toolbar-Mobile-Android-Portrait-linux.png
  packages/storybook/.storybook/preview-head.html
Labels: breaking-change

#4346 [Chat] Refactored File Sharing Download
  change-beta/@azure-communication-react-f0b81840-8324-4696-b00b-bc38207e8d0a.json
  change/@azure-communication-react-f0b81840-8324-4696-b00b-bc38207e8d0a.json
  packages/chat-component-bindings/src/messageThreadSelector.ts
  packages/communication-react/review/beta/communication-react.api.md
  packages/communication-react/src/index.ts
  packages/react-components/src/components/AttachmentCard.test.tsx
  packages/react-components/src/components/AttachmentCard.tsx
  packages/react-components/src/components/AttachmentCardGroup.test.tsx
  packages/react-components/src/components/AttachmentDownloadCards.test.tsx
  packages/react-components/src/components/AttachmentDownloadCards.tsx
  packages/react-components/src/components/AttachmentUploadCards.tsx
  packages/react-components/src/components/ChatMessage/ChatMessageComponentWrapper.tsx
  packages/react-components/src/components/ChatMessage/MessageComponents/ChatMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/ChatMessage/MessageComponents/FluentChatMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/MyMessageComponents/ChatMyMessageComponent.tsx
  packages/react-components/src/components/ChatMessage/MyMessageComponents/ChatMyMessageComponentAsMessageBubble.tsx
  packages/react-components/src/components/ChatMessage/MyMessageComponents/FluentChatMyMessageComponent.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/index.ts
  packages/react-components/src/components/utils/ChatMessageComponentUtils.tsx
  packages/react-components/src/localization/locales/en-US/strings.json
  packages/react-components/src/theming/icons.tsx
  packages/react-components/src/types/Attachment.ts
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/FileUploadButton.tsx
  packages/react-composites/src/composites/ChatComposite/file-sharing/index.ts
  packages/react-composites/src/composites/ChatComposite/index.ts
  packages/react-composites/tests/app/chat/FakeAdapterApp.tsx
  packages/react-composites/tests/app/chat/LiveTestApp.tsx
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-download-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-download-error-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-download-error-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-download-card-in-received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-download-card-in-received-messages-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-download-card-in-received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-download-card-in-sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-download-card-in-sent-messages-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-download-card-in-sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-upload-card-while-editing-message-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-upload-card-while-editing-message-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-file-upload-card-while-editing-message-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-progress-bar-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/FileSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/INTERNAL/AttachmentCard/AttachmentCard.stories.tsx
Labels: breaking-change

#4350 Renaming `file` to `attachment` in documentation and internal functionality for files downloading
  change/@azure-communication-react-bd817acb-75b9-4348-9a98-06476f29a044.json
  packages/communication-react/review/beta/communication-react.api.md
  packages/react-components/src/components/AttachmentCard.tsx
  packages/react-components/src/components/AttachmentDownloadCards.test.tsx
  packages/react-components/src/components/AttachmentDownloadCards.tsx
  packages/react-components/src/components/MessageThread.tsx
  packages/react-components/src/components/styles/AttachmentCard.styles.ts
  packages/react-components/src/components/utils/ChatMessageComponentUtils.tsx
  packages/react-components/src/theming/icons.tsx
  packages/react-composites/src/composites/ChatComposite/AttachmentDownloadErrorBar.tsx
  packages/react-composites/src/composites/ChatComposite/ChatScreen.tsx
  packages/react-composites/tests/app/chat/LiveTestApp.tsx
  packages/react-composites/tests/browser/chat/hermetic/AttachmentSharing.test.ts
  packages/react-composites/tests/browser/common/constants.ts
  packages/react-composites/tests/browser/common/utils.ts
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-attach-file-icon-not-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-attach-file-icon-not-visible-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-attach-file-icon-not-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-attach-file-icon-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-download-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-download-error-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-download-error-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-download-card-in-received-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-download-card-in-received-messages-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-download-card-in-received-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-download-card-in-sent-messages-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-download-card-in-sent-messages-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-download-card-in-sent-messages-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-upload-card-while-editing-message-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-upload-card-while-editing-message-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-file-upload-card-while-editing-message-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-greater-than-one-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-not-visible-progress-less-than-zero-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-visible-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-visible-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-progress-bar-visible-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-file-upload-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-file-upload-error-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-file-upload-error-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-file-upload-in-progress-error-Mobile-Android-Portrait-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-filecards-Desktop-Chrome-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Landscape-linux.png
  packages/react-composites/tests/browser/snapshots/beta/tests/browser/chat/hermetic/AttachmentSharing.test.ts-snapshots/filesharing-sendbox-filecards-Mobile-Android-Portrait-linux.png
  packages/storybook/stories/INTERNAL/AttachmentCard/AttachmentCard.stories.tsx
  packages/storybook/stories/MessageThread/MessageThread.stories.tsx
  packages/storybook/stories/MessageThread/placeholdermessages.ts
  packages/storybook/stories/MessageThread/snippets/MessageWithAttachment.snippet.tsx
Labels: breaking-change
